<html>
<title>Admin</title>
</head>

    
<% include ./head.ejs %> 

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <% include ./nav.ejs %> 
      </div>
      <div class="col-10">
        <div class="margin-top-50"></div>
        <h3>관리자 Dashboard</h3>
      </div>
    </div>
  </div>
</body>

</html>