<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div>
      <a href="/">
        <img class="image-flude" src="/images/logo.png" style="width: 150px;height: 50px;">
      </a>
    </div>
  
    <div class="sidebar-sticky margin-top-50">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link " href="/admin/easy">간편문의
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/request1">포장이사견적</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/request2">보관이사견적</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/request3">사무실이전 견적</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/request4">간편전화 상담</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/services1">에어컨설치서비스신청</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/services2">청소서비스신청</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="/admin/board1">계약여부 문의</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/board2">방문견적 변경/취소</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/board3">현금영수증 문의</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/board4">기타 고객문의</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/admin/boardas">오투이사에 바란다</a>
        </li>
      </ul>
  
    </div>
  </nav>