<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">고객센터</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub05/sub05_1_1.asp">고객문의</a></h4>
                
                <ul>
                    <li class="on"><a href="/sub05/sub05_1_1.asp">계약여부 문의</a></li>
                    <li ><a href="/sub05/sub05_1_2.asp">방문견적 변경/취소</a></li>
                    <li ><a href="/sub05/sub05_1_3.asp">현금영수증 문의</a></li>
                    <li ><a href="/sub05/sub05_1_4.asp">기타 고객문의</a></li>
                </ul>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub05/sub05_3_1.asp">A/S</a></h4>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub05/sub05_4_1.asp">오투이사에 바란다</a></h4>
            </div>

        </div>
		




    

 
		
		  <!-- leftmenu end -->			
		  <div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">차량소개</a>
				</p>
				<div id="title-section">
					<h1>1톤 탑차 또는 5톤 탑차, <br /><span class="fc-turquoise">작업조건에 따라 선택</span>이 용이합니다.</h1>
					<p>도로 환경 및 작업 조건에 맞춰 원하시는 차량을 직접 선택하실 수 있기에 안전하고 합리적으로 서비스를 이용하실 수 있습니다.</p>
				</div>
				<div id="content-section">
					<h3>작업조건에 따라 차량선택가능</h3>
					<p>좁은 골목길, 장거리 등 작업조건이나 상황에 따라 고객이 직접 차량(팀)을 선택할 수 있어 효율적입니다.</p>
					<h3>1톤차 3대는 안전하고 효율적</h3>
					<p>1톤탑차 3대가 5톤 탑차 1대보다 적재공간이 적다고 우려할 수 있으나 1톤 탑차의 경우 5톤 탑차 1대분량과 동일한 적재가 가능합니다.</p>
					<h3>모두가 차주입니다.</h3>
					<p>이사 차량은 소사장 개인이 직접 소유하고 있는 차량으로 안전합니다.</p>
					<div class="division-1">
						차량 소개
					</div>
					<div class="column-6">
						<p class="column-6 mg-0 ta-center"><img src="/images/size_of_truck.jpg" /></p>
						<div class="fl column-2_5 ta-center">
							<p class="fs-14 fc-333 fw-500">오투이사 1톤 탑차<br /><span class="fs-13 fc-777 fw-400">(장)3.11 x (폭)1.60 x (고)2.20 x 3대 = </span><span class="fc-orange fw-400">33CBM</span></p>
						</div>
						<div class="fl column-1">
						</div>
						<div class="fl column-2_5 ta-center">
							<p class="fs-14 fc-333 fw-500">오투이사 5톤 탑차<br /><span class="fs-13 fc-777 fw-400">(장)6.15 x (폭)2.20 x (고)2.45 x 1대 = </span><span class="fc-orange fw-400">33CBM</span></p>
						</div>
					</div>
				</div>
				
			</div>

				
































    </div>
    
  </body>
</html>



