<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
		<!-- leftmenu start -->
					<div id="side-nav">
	
			<h3 class="title">이사가이드</h3>
			<div class="nav-section">
				<h4 class="on"><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
				
				<ul>
					<li><a href="/sub03/sub03_01_01">이사계약</a></li>
					<li class="on"><a href="/sub03/sub03_01_02">이사·화물 요금지불</a></li>
				</ul>
					
			</div>			
			<div class="nav-section">
				<h4 ><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
					
			</div>
	
		</div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">계약 및 요금지불</a><a href="#none">이사·화물 요금지불</a>
				</p>

				<div id="content-section">
					<div class="division-1">
							전국 최저가 요금 정책을 모토로 합니다
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
							오투이사·화물은 고객과 지역 소사장이 직접 탐방하여 견적과 서비스를 책임지는 직거래 형태와 본사 콜센터 공유 배차 시스템에 의한 브랜드 관리로 가격과 품질을 동시에 만족시켜 드립니다.
					</p>
				</div>			
				<div id="content-section">
					<div class="division-1">
						대금결제방법
					</div>	
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						<img src="/images/img_movepay.png" />
					</p>											
				</div>		
			</div>




















			<% include ./include/footer.ejs %> 





    </div>
    
  </body>
</html>



