<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_01_01">직거래이사서비스</a></li>
                    <li><a href="/sub01/sub01_01_02">이사품질관리</a></li>						
                    <li><a href="/sub01/sub01_01_03">차량소개</a></li>
                    <li class="on"><a href="/sub01/sub01_01_04">포장박스안내</a></li>
                    <li ><a href="/sub01/sub01_01_05">고객평가제도안내</a></li>
                    <li ><a href="/sub01/sub01_01_06">이사흐름도</a></li>
                </ul>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>

        </div>

    

      <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">포장박스안내</a>
				</p>
				<div id="title-section">
					<h1><span class="fc-turquoise">작은 부분</span>에서도 고객을 위한 <br /><span class="fc-turquoise">충분한 배려</span>를 드리겠습니다.</h1>
					<p>다양한 포장박스를 준비하여 외부의 간섭과 충격으로부터 내용물을 보호할 수 있으며, <br />이삿짐의 용도별로 박스를 구분하여 위색적이고 기분좋은 이사서비스를 제공하고 있습니다.</p>
				</div>
				<div id="content-section">
					<h3>화장실 용품을 담았던 박스에 당신의 속옷을 담는다면?</h3>
					<p>국내 이사업체 대부분은 포장박스의 용도 구분이 없습니다. 동네이사업체부터 대형 유명 이사대행업체까지 포장박스 용도의 구분이 없는 것이 그동안 우리나라의 이사문화였습니다. 전날 이사한 집의 화장실용품을 담았던 박스 또는 바구니가 오늘은 우리집 주방용품바구니로 둔갑하니 여간 기분나쁜일이 아닐 수 없습니다. 이러한 문제점을 극복하기 위해 KGB에서 개발한 물품별 전용포장박스는 고객에게 보다 위생적이고 기분좋은 이사서비스를 제공합니다. 오투이사는 고객중심의 서비스를 개발하기 위해 고객의 입장에서 작은부분까지 다양한 서비스를 개발해 이사문화를 바꾸어 나가고 있습니다.</p>
					<h3>7가지의 다양한 포장박스</h3>
					<p>포장이사 전용박스는 플라스틱 재질(단프라)로서 외부의 간섭과 충격으로부터 내용물을 보호할 수 있도록 튼튼하게 제작되어 있습니다. 아래의 그림에서 보는바와 같이 옥색 박스외에 검정색과 분홍색 포장박스가 있습니다. 아래그림중 가장 큰 사이즈의 옷걸이박스는 가구의 옷걸이와 동일한 구조의 철재 바가 내장되어 있어 고객의 옷장속의 환경 그대로 옮겨드리므로 이사시 발생할 수 있는 구김을 최소화 했습니다. 기본박스중 소,중,대 박스는 물품의 부피와 중량에 따라 적절히 분류되어 포장하므로 운반시 안전을 도모했습니다. 특히, 욕실과 화장실용품만 전용으로 포장하는 분홍색의 화장실용품박스가 있어 다른 물품과 섞여서 오염 등이 발생되지 않도록 했으며, 구두나 운동화등 신발만 담을 수 있는  검정색 신발전용박스로 구성되어 있습니다.</p>
					<div class="division-1 mgb-35">
						포장박스의 종류
					</div>
					<div class="fl column-3">
						<div class="column-4_5 bg-e6eaef radius-10 pd-16 fs-13 lh-28">
							<ul class="fl column-3 pdl-10 fw-500 fc-666">
								<li>화장실 용품박스</li>
								<li>신발전용 박스</li>
								<li>부엌용품전용</li>
								<li>옷걸이(행거박스)</li>
								<li>기본포장박스</li>
							</ul>
							<ul class="fl column-3 fc-777">
								<li>분홍색 박스</li>
								<li>검정색 박스</li>
								<li>바구니 및 아이스 박스</li>
								<li>옥색 박스 + 옷걸이</li>
								<li>대 : 부피가 큰 내영물 <br />중 : 일반적인 내용물 <br />소 : 무게가 무거운 책 등</li>
							</ul>
						</div>
					</div>
					<div class="fl column-3 ta-left">
						<img src="/images/box_type.jpg" />
					</div>
				</div>
				
			</div>




			<% include ./include/footer.ejs %> 


    </div>
    
  </body>
</html>



