<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li class="on"><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li ><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li ><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li ><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li ><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">부동산계약서</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}
				</style>
								<div class="con_nav">
					<ul>
						<li ><a href="sub03_02_01">집내놓기</a></li>
						<li class="on"><a href="sub03_02_02">부동산계약서</a></li>
						<li ><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li ><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li ><a href="sub03_02_05">이사업체선정</a></li>
						<li ><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						1. 계약시 체크리스트
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">계약당사자확인/등기부 등본대조로 계약자와 소유자 일치여부를 반드시 확인합니다.</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						2. 등기부등본 체크리스트
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">토지·주택등기부등본을 반드시 열람하고 권리관계 확인필요<br/>
						근저당설정여부와 이사시 근저당에 의한 보증금 보호여부 확인필요
					</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						3. 확정일자 받기
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						보증금을 보호받기 위한 확정일자 확인-임대차계약과 동시에 거주지 동사무소 나 등기소에 들러 임대차 계약서에 확정일자를 반드시 받아야 됨<br/>
						확정일자 확인 날인을 받으면 법률에 따라 우선순위로 전세보증금이 보호됨(우선순위 대항권 발생)<br/>
					</p>
				</div>		
				<div id="content-section">
					<div class="division-1">
						4. 전세등기
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						등기부등본을 열람하여 계약자의 보호금액을 사전에 알아보고 집주인의 동의를 구한 후 전세금에 대한 전세권설정을 해야 법적으로 안전합니다<br/>
						제거 주자에 한하여 우선순위 대항권이 있는 확정일자는 전입, 확정일자, 실제 거주 여부를 따지지만 전세권 설정은 보다 안전한 우선순위 대항권입니다.<br/>
					</p>
				</div>									
					<div class="column-6 ta-center" style="margin-top:100px;">
						<p class="square-btn type-1"><a href="/sub02/sub02_02_01">실시간 상세 견적받기</a></p>
					</div>		
					</div>		
			</div>





















			<% include ./include/footer.ejs %> 






    </div>
    
  </body>
</html>



