<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_01_01">직거래이사서비스</a></li>
                    <li><a href="/sub01/sub01_01_02">이사품질관리</a></li>						
                    <li><a href="/sub01/sub01_01_03">차량소개</a></li>
                    <li><a href="/sub01/sub01_01_04">포장박스안내</a></li>
                    <li class="on"><a href="/sub01/sub01_01_05">고객평가제도안내</a></li>
                    <li ><a href="/sub01/sub01_01_06">이사흐름도</a></li>
                </ul>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>

        </div>

    

      <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">고객평가제도안내</a>
				</p>

				<div id="title-section">
					<h1>좋은 <span class="fc-turquoise">이사 서비스</span> 제공으로 <br /><span class="fc-turquoise">고객의 평가</span>를 기다리겠습니다.</h1>
					<p>고객님께 좋은 평가를 얻은 팀은 베스트팀, 명예의전당팀, 이달의수상팀으로 등록됩니다. <br />팀평가제도를 통해 서비스는 더욱 개선되고, 신뢰할 수 있는 팀을 직접 확인하실 수 있습니다.</p>
				</div>
				<div id="content-section">
					<h3>평가글 작성 취지</h3>
					<p>오투이사에서 이사를 완료한 고객님은 칭찬글과 꾸중글을 작성할 수 있습니다. 칭찬글이 많은 팀은 월간베스트팀에 선정될 유리한 고지에 서게 되고 품질의 척도인 별의 갯수가 점점 늘어나게 됨에 따라 명예의전당에 입성할 수 있게 됩니다. 명예의 전당에 입성한 팀은 그 팀을 이용한 수많은 고객이 서비스품질에 대해서 인증을 했다는 입증이 되고 본사에서 품질을 보증하는 믿고 이용할 수 있는 프리미엄 서비스를 제공하는 팀이 되는 것 입니다. 명예의전당팀은 안정된 계약율과 다른팀에 비해 높은 수익을 창출할 수 있게 되므로 오투이사의 모든 이사팀이 더 좋은 서비스를 제공할 수 밖에 없는, 철저한 고객중심의 서비스를 제공해야 고객에게 좋은 평가를 받을 수 있는 시스템으로 운영하고 있습니다.</p>
					<h3>평가글 작성권한</h3>
					<p>오투이사는 평가글을 중요하게 생각합니다. 그러므로 특정 이사팀이 베스트팀이나 명예의전당팀에 오르기 위한 수단으로 악용될 수 있는 소지를 차단했습니다. 이사팀은 고객의 개인정보를 알 수 없으므로 고객을 대신해 글을 작성할 수 없으며 반드시 이사를 완료한 고객만이 글을 작성할 수 있도록하는 고객인증절차를 거칩니다. 칭찬글이 의심스러우신 분은 작성자의 이메일을 통해 확인하시거나 덧글을 통해 작성자와 커뮤니케이션하실 수 있습니다.</p>
					<h3>부정 작성 감시제도</h3>
					<p>오투이사는 부정한 방법으로 고객정보를 얻어 고객명을 도용하여 작성하는 경우를 찾기위해 칭찬글 부정 작성 감시시스템을 구축하고 운영하고 있으며, 적발되는 팀이 있다면 그 달의 모든 시상에서 제외시키는 등 엄격한 게시판 관리 시스템을 운영하고 있습니다.</p>
					<div class="division-1 mgb-35">
						고객평가제도 특징
					</div>
					<ul class="column-6 ta-center fc-888">
						<li class="fl column-2">
							<p class="mgb-15"><img src="/images/service_04.png" /></p>
							<p class="fs-14 fw-500 fc-555 mg-0">우리팀을 칭찬해주세요</p>
							<p class="fs-12 lh-20">고객의 칭찬글을 통해 해당 이사팀은 자신의 <br />일에 대한 의욕과 자부심을 갖게 되며, <br />좋은 서비스로 명품팀으로 발전하는 <br />계기가 됩니다. 이사 후 만족하셨다면 <br />아낌없는 칭찬을 주시기 바랍니다.</p>
						</li>
						<li class="fl column-2">
							<p class="mgb-15"><img src="/images/service_11.png" /></p>
							<p class="fs-14 fw-500 fc-555 mg-0">우리팀을 꾸중해주세요</p>
							<p class="fs-12 lh-20">이사시 불친절, A/S 처리소홀 등 여러가지 <br />요인이 발생하셨다면 꾸중하기를 작성하실 <br />수 있습니다. 불만들이 작성된 팀은 여러가지 <br />제재와 함께 집중 서비스 교육을 실시하여 <br />품질저하를 방지하겠습니다.</p>
						</li>
						<li class="fl column-2">
							<p class="mgb-15"><img src="/images/service_07.png" /></p>
							<p class="fs-14 fw-500 fc-555 mg-0">고객평가의 의의</p>
							<p class="fs-12 lh-20">매월 인터넷 평가를 포함한 기타 평가 등 우수팀 <br />선정기준을 가지고 우수팀에게는 시상 등 여러가지 <br />이득이 될 수 있는 혜택을 주어 오투이사의 <br />모든 팀이 고객으로부터 사랑받는 좋은 <br />품질을 가진 팀으로 만들어 갑니다.</p>
						</li>
					</ul>
				</div>
				
			</div>





			<% include ./include/footer.ejs %> 


    </div>
    
  </body>
</html>



