<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
		<!-- leftmenu start -->
					<div id="side-nav">
	
			<h3 class="title">이사가이드</h3>
			<div class="nav-section">
				<h4 class="on"><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
				
				<ul>
					<li><a href="/sub03/sub03_01_01">이사계약</a></li>
					<li class="on"><a href="/sub03/sub03_01_02">이사요금 지불</a></li>
				</ul>
					
			</div>			
			<div class="nav-section">
				<h4 ><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
					
			</div>
	
		</div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">계약 및 요금지불</a><a href="#none">이사요금 지불</a>
				</p>

				<div id="content-section">
					<div class="division-1">
						직거래로 만족을 더합니다 
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
					오투이사는 고객과 소사장(작업자)이 직접 계약하고 결제하는 모든 거래를 직거래방식으로 이행하므로 모두가 만족을 더합니다.<br/>
					본사는 고객과 결제를 하지 않으며 소사장에게 중개에 따른 수수료도 받지않습니다.<br/>
					오투이사는 고객과 소사장간의 안전한 거래를 위한 이사업무의 관리,감독의 의무를 충실히 이행합니다.
					</p>
				</div>			
				<div id="content-section">
					<div class="division-1">
						대금결제방법
					</div>	
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						<img src="/images/img_movepay.png" />
					</p>											
				</div>		
			</div>




















			<% include ./include/footer.ejs %> 





    </div>
    
  </body>
</html>



