<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li class="on"><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li ><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li ><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">이삿날선정</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}
				</style>
								<div class="con_nav">
					<ul>
						<li ><a href="sub03_02_01">집내놓기</a></li>
						<li ><a href="sub03_02_02">부동산계약서</a></li>
						<li ><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li class="on"><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li ><a href="sub03_02_05">이사업체선정</a></li>
						<li ><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						가장싸게 이사하기 위한 이삿날 선정
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">말을 제외한 평일은 이사수요가 적어 경제적인 이삿날입니다.</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						손 없는날 알아보기
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">민속신앙에 따르면 “손”이란 날수에 따라 동서남북 4방위로 사람의 활동을 방해하고 해코지한다는 해로운 신으로 알려져 왔습니다.<br/>음력 9, 10, 19, 20, 29, 30 날은 “손”이 하늘로 올라가서 어느방향으로도 손이 없습니다.</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						이사하기 좋은날 알아보기
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">매일 한방위에서 손이 있어서 그 방위에선 악신이 활동하여 일을 방해한다고 알려져 있습니다.<br />- 손 없는날 <br />동 (東) 방위에 손이 있는 날 - 1. 2. 11. 12. 21. 22 일 <br />서 (西) 방위에 손이 있는 날 - 5. 6. 15. 16. 25. 26 일 <br />남 (南) 방위에 손이 있는 날 - 3. 4. 13. 14. 23. 24 일 <br />북 (北) 방위에 손이 있는 날 - 7. 8. 17. 18. 27. 28 일 <br />과 같습니다. <br />그러므로 위의 날짜와 방향을 피해 개인에게 맞는 날짜에 이사한다면 저렴하고 실속있는 이사를 할 수 있습니다.</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						윤달(윤월) 세시풍속
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">閏月(윤월)은 일반적으로 전통 태음력(太陰曆)에서 19년 동안 7번의 윤달을 넣어 책력(冊曆)과 계절(季節)을 일치시켰는데, 명칭은 윤월(閏月), <br />윤삭(閏朔), 윤여(閏餘) 등으로 불립니다. 윤달은 일년 중 한 달이 가외로 더 있는 달이기에 모든 일에 부정(不淨)을 타거나 액(厄)이 끼이지 않는 <br />달로 인식되어 왔습니다. 그래서 주로 집안의 수리나 이사(移徙)를 하기도 하고, 특히 혼례(婚禮)를 올리는 날로 잡거나 집안 어른의 수의(壽衣)를 <br />만들어 놓으면 좋다 하여 윤달에 많이 거행합니다. <br /><br />자료출처: <a href="http://www.hanja.pe.kr/tra_1/t1_131.htm" target="_blank">이야기 한자 여행</a></p>
				</div>
				<div class="column-6 ta-center" style="margin-top:100px;">
					<p class="square-btn type-1"><a href="/sub02/sub02_02_01">실시간 상세 견적받기</a></p>
				</div>						
				</div>
			</div>






















			<% include ./include/footer.ejs %> 







    </div>
    
  </body>
</html>



