<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-02">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사견적/신청</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub02/sub02_01_01">이사기본요금안내</a></h4>
                
                <ul>
                    <li><a href="/sub02/sub02_01_01">포장이사기본요금</a></li>
                    <li class="on"><a href="/sub02/sub02_01_02">보관요금</a></li>
                    <li ><a href="/sub02/sub02_01_03">부가서비스요금</a></li>
                </ul>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub02/sub02_02_01">견적내기 및 신청</a></h4>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub02/sub02_03_01">부가서비스 신청</a></h4>
                    
            </div>
            
        </div>



    

  <!-- leftmenu end -->			
  <div id="inner-wrap">
	<p id="breadcrumb">
		<a href="#none" class="home">HOME</a><a href="#none">이사견적/신청</a><a href="#none">이사기본요금안내</a><a href="#none">보관요금</a>
	</p>

	<div id="title-section">
		<h1><span class="fc-turquoise">이사보관 업체</span>를 계획중인가요? <br /><span class="fc-turquoise">오투이사</span>와 함께하세요.</h1>
		<p>오투이사는 이삿짐 보관이 필요한 고객을 대상으로 위탁 보관서비스를 안내하고 있습니다. <br />위탁보관은 수도권 소재 이사화물 보관업체 중 우수 업체를 선택하여 이뤄지며, <br />이사팀이 고객의 위임을 받아 원스톱 서비스로 진행합니다.</p>
	</div>
	<div id="content-section">
		<h3>서비스 형태</h3>
		<p>이사팀이 고객으로부터 위임을 받아 보관업체에 위탁 보관 (고객과 이사팀간 보관계약, 이사팀과 보관업체간 보관계약)</p>
		<div class="division-1 mgb-35">
			보관비용
		</div>
		<table id="table-1" class="column-6 mgb-20">
			<thead>
				<tr>
					<th height="30" class="column-1_5">규격</th>
					<th class="column-3">보관비용</th>
					<th class="column-1_5">비고</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>5톤 1대 (30cbm 기준)</th>
					<td class="ta-left pdl-20">· 월 220,000원 <br />· 1개월 미만시 보관기간에 따라 다른 요율 적용</td>
					<td height="60">부가세포함</td>
				</tr>
			</tbody>
		</table>
		<div class="column-6 mgb-20">
			<div class="division-1">
				서비스절차
			</div>
			<p>보관이사는 출발지부터 보관창고 입고까지 1회, 보관창고 출고부터 도착지 정리까지 1회, 총 2회 이사서비스를 제공합니다. </p>
			<div class="ta-center radius-10 bg-pink box-1 pd-16">
				<p class="column-4 mg-0 mg-center lh-25 radius-circle fs-16 fc-white" style="background: rgba(0, 0, 0, 0.3);">출발지 포장이사</p>
				<p class="fc-666 lh-20 fs-12">안전한 보관을 위해 적합한 포장재를 <br />사용하고, 창고까지 안전하게 입고합니다.</p>
			</div>
			<div class="box-arrow">
			</div>
			<div class="ta-center radius-10 bg-yellow box-1 pd-16">
				<p class="column-4 mg-0 mg-center lh-25 radius-circle fs-16 fc-white" style="background: rgba(0, 0, 0, 0.3);">보관업체 보관</p>
				<p class="fc-666 lh-20 fs-12">시설, 기간 등을 고려하여 고객의 요구에 맞게 <br />서비스가 이뤄지도록 합니다. 고객의 이삿짐이 <br />안전하게 보관되는지 시설, 안전장치 등을 <br />확인합니다.</p>
			</div>
			<div class="box-arrow">
			</div>
			<div class="ta-center radius-10 bg-light-blue box-1 pd-16">
				<p class="column-4 mg-0 mg-center lh-25 radius-circle fs-16 fc-white" style="background: rgba(0, 0, 0, 0.3);">도착지 포장이사</p>
				<p class="fc-666 lh-20 fs-12">보관이 만료되는 시점에 고객과 협의하여 <br />출고가 이뤄집니다. 보관창고에서 출고된 <br />이삿짐은 도착지까지 이동 후 정리하게 됩니다. <br />이 서비스는 오투이사 포장이사 상품과 <br />동일하게 진행됩니다.</p>
			</div>
		</div>
		<div class="division-1">
			보관일반사항
		</div>
		<p>보관업체의 일반적인 사항을 알려드립니다.</p>
		<dl class="column-6 pdb-10 radius-10 bg-blue fs-13 fc-white mgb-15">
			<dt class="pdlr-30 mgb-15 lh-50 fs-15 bg-dark-blue">1. 계약기간 만료 후 조치</dt>
			<dd class="pdlr-30 before-dot">보관기간 만료 후 화주와 연락이 되지 않거나 소재가 불명일 경우 사업자가 보관물품을 적법절차에 따라 처분할 수 있습니다.</dd>
			<dd class="pdlr-30 before-dot">보관업체가 공고 후 경매 등 절차에 따라 물품을 처분하면 이의를 제기할 수 없습니다. 따라서, 보관고객은 부재시 제3의 연락처를 반드시 기재해야 합니다.</dd>
		</dl>
		<dl class="column-6 pdb-10 radius-10 bg-blue fs-13 fc-white mgb-15">
			<dt class="pdlr-30 mgb-15 lh-50 fs-15 bg-dark-blue">2. 보관료 연체시 가산금 부과</dt>
			<dd class="pdlr-30 before-dot">보관비용은 선불입니다.</dd>
			<dd class="pdlr-30 before-dot">계약기간이 만료됐음에도 보관료를 납입하지 않으면 물품 출고가 불가능하며 업체에 따라 10~50%의 가산금이 부과됩니다.</dd>
		</dl>
		<dl class="column-6 pdb-10 radius-10 bg-blue fs-13 fc-white mgb-15">
			<dt class="pdlr-30 mgb-15 lh-50 fs-15 bg-dark-blue">3. 화주 귀책사유로 인한 책임</dt>
			<dd class="pdlr-30 before-dot">음식물, 위험물(폭발 및 화재가능 물품)등으로 인해 발생한 피해는 고객(화주)이 책임을 지며, 고객(화주)의 귀책사유로 발생한 변질이나 손해에 대해서도 보관업체는 책임지지 않습니다.</dd>
		</dl>
		<dl class="column-6 pdb-10 radius-10 bg-blue fs-13 fc-white mgb-15">
			<dt class="pdlr-30 mgb-15 lh-50 fs-15 bg-dark-blue">4. 보관금지 품목(이사화물 표준약관 제7조)</dt>
			<dd class="pdlr-30 before-dot">현금, 유가증권, 귀금속, 예금통장, 신용카드, 인감 등 귀중품</dd>
			<dd class="pdlr-30 before-dot">위험물, 불결한 물품 등 다른 화물에 손해를 끼칠 염려가 있는 물품</dd>
			<dd class="pdlr-30 before-dot">동식물, 미술품, 골동품 등 특수한 관리를 요하는 물품</dd>
			<dd class="pdlr-30 before-dot">상기 물건을 신고 없이 임의 보관하여 발생한 민,형사상 책임은 화주에게 있습니다.</dd>
		</dl>
		<dl class="column-6 pdb-10 radius-10 bg-blue fs-13 fc-white mgb-15">
			<dt class="pdlr-30 mgb-15 lh-50 fs-15 bg-dark-blue">5. 보상 내용</dt>
			<dd class="pdlr-30 before-dot">보관업체의 부주의로 인해 도난, 화재, 누수 등으로 사용이 불가능한 품목에 대해서는 해당 보관업체에서 보상합니다.</dd>
			<dd class="pdlr-30 before-dot">단, 보관업체에서 입,출고 수량, 물건상태를 확인한 후 보상합니다.</dd>
		</dl>
		<div class="column-6 fs-14 fc-999 lh-22 mgb-20">
			※상기 내용은 보관업체에 따라 상이할 수 있습니다. <span class="lh-40"><br /></span>
			보관고객은 국내 부재 시 또는 특별한 상황에서도 이사팀과 연락이 가능하도록 해야 보관에 따른 피해를 예방할 수 있습니다. <br />
			(고객(화주) 본인외 제2, 제3의 연락 가능한 연락처 추가 기재)
		</div>
		<div class="column-6 mgb-35" style="height: 1px; min-height: 1px; background: #d8d8d8;"></div>
		<div class="column-6 ta-center">
			<p class="square-btn type-1"><a href="/sub02/sub02_2_2.asp">보관이사 견적/신청하기</a></p>
		</div>
	</div>				
	
</div>












<% include ./include/footer.ejs %> 




    </div>
    
  </body>
</html>



