<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li class="on"><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li ><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li ><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li ><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li ><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li ><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">집내놓기</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}
				</style>
								<div class="con_nav">
					<ul>
						<li class="on"><a href="sub03_02_01">집내놓기</a></li>
						<li ><a href="sub03_02_02">부동산계약서</a></li>
						<li ><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li ><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li ><a href="sub03_02_05">이사업체선정</a></li>
						<li ><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						3개월전: 집 내놓기
					</div>
					<p class="fs-12 fc-888" style="margin: 0 0 10px;">충분한 기간설정이 꼼꼼한 이사의 지름길입니다.<br />만약 집주인의 상의없이 부동산중개소에 집을 내 놓고 벌컥 계약을 체결하고, 1~2주내에 이삿날을 정하면 이사하는날 집주인 사정에 따라 전세금을 즉시 돌려받지 못하는 등 불이익과 큰 불편을 겪을수도 있습니다. 그러므로 집내놓을 때 주의할 점은 반드시 먼저 집주인과 상의하고 집을 내놓는 것이 좋고 이삿날을 정할 때도 충분한 기간을 두고 설정하는 것이 실수하지 않는 중요한 포인트입니다.</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						2개월전: 이사갈집 구하기
					</div>
					<p class="fs-12 fc-888" style="margin: 0 0 10px;">집은 구할때보다 나갈때를 생각해서 집을 구하는것이 좋습니다.<br />이사갈 집을 먼저 계약을 하는것은 위험부담이 크므로 이사 순서를 지키는것이 가장 중요합니다.<br />무턱대고 짧은 기간에 이사갈곳의 집을 먼저 계약하면 현재 살고 있는 집이 언제 나갈지, 전세금을 어떻게 해야할지 하는 많은 고민을 하는 등 </p>
				</div>
				<div id="content-section">
					<div class="division-1">
						집고르기 조건
					</div>
					<p class="fs-12 fc-888" style="margin: 0 0 10px;">
						1. 등기부 등본상 권리관계의 문제가 없어야 합니다.<br />
						2. 신축한 집의 경우 새집 증후군이 없어야 합니다.<br />
						3. 주변의 입지여건을 고려해야 합니다.<br />자녀가 있을 경우 교육여건을 고려해야 하고, 교통이 좋아야 하며, 시장이나 마트의 연계성이 좋아야하며, 아파트경우 단지수가 많은곳을 선택하는 것이 좋습니다.
					</p>
					<div class="column-6 ta-center" style="margin-top:100px;">
						<p class="square-btn type-1"><a href="/sub02/sub02_2_1.asp">실시간 상세 견적받기</a></p>
					</div>
				</div>						
				</div>
			</div>





















			<% include ./include/footer.ejs %> 





    </div>
    
  </body>
</html>



