<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content" style="background-image: url(/images/bg/move01.png);background-repeat: no-repeat;background-position: top right;">
        <!-- leftmenu start -->
                    <div id="side-nav">
    
            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
            </div>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_02_01">포장이사</a></li>
                    <li><a href="/sub01/sub01_02_02">보관이사</a></li>
                    <li><a href="/sub01/sub01_02_03">사무실이사</a></li>
                    <li class="on"><a href="/sub01/sub01_02_04">해외이사</a></li>
                </ul>		
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>
    
        </div>

    

    <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">이사서비스</a><a href="#none">해외이사</a>
				</p>

				<div id="title-section">
					<h1>출발지부터 <span class="fc-turquoise">도착지까지</span> <br />편리한 <span class="fc-turquoise">원스톱</span> 서비스</h1>
					<p>KGB해외통운은 네트워크 시스템 구축으로 보다 안전하고 완벽하게 <br />일괄적으로 해외 이사서비스를 제공해드리고 있습니다.</p>
				</div>
				<div id="content-section">
					<h3>KGB해외통운</h3>
					<p class="mgb-50">KGB해외통운은 통해 국내외 현지법인지사 및 대리점을 네트워크화한 시스템으로 포장운송 현지통관 고객배달까지의 제반업무들을 일괄적이고 완벽하게 처리하고 있습니다. 오투이사는 패밀리브랜드인 KGB해외통운으로 고객님을 안내해드립니다. <br /><span class="lh-40 fc-turquoise underline">해외사업부 02)776-0635</span></p>
					<ul class="column-6 mgb-35">
						<li class="fl column-1 line-deco" style="margin-right: 4.1666%;">
							<ul>
								<li class="before-dot fs-14 fc-666">선박화물</li>
								<li class="before-dot fs-14 fc-666">항공화물</li>
								<li class="before-dot fs-14 fc-666">수출입화물</li>
								<li class="before-dot fs-14 fc-666">이주화물</li>
							</ul>
						</li>
						<li class="fl column-1 line-deco" style="margin-right: 4.1666%;">
							<ul>
								<li class="before-dot fs-14 fc-666">포장</li>
								<li class="before-dot fs-14 fc-666">통관</li>
								<li class="before-dot fs-14 fc-666">운송</li>
								<li class="before-dot fs-14 fc-666">선적</li>
								<li class="before-dot fs-14 fc-666">보험</li>
							</ul>
						</li>
						<li class="fl column-1 line-deco" style="margin-right: 4.1666%;">
							<ul>
								<li class="before-dot fs-14 fc-666">수출입 업무대행</li>
							</ul>
						</li>
						<li class="fl column-1 line-deco" style="margin-right: 4.1666%;">
							<ul>
								<li class="before-dot fs-14 fc-666">항공권 할인구매 대행</li>
							</ul>
						</li>
						<li class="fl column-1">
							<ul>
								<li class="before-dot fs-14 fc-666">Export Standard 수출용 목상자 제작</li>
							</ul>
						</li>
					</ul>
					<div class="division-1 mgb-35">
						이용 가능 서비스
					</div>
					<table id="table-1" class="column-6 mgb-35">
						<thead>
							<tr>
								<th height="30" class="column-1">구분</th>
								<th class="column-5">분류</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="lh-30">해외이사화물</td>
								<td class="pdlr-20 lh-30 ta-left">Overseas Removal (Household Goods)</td>
							</tr>
							<tr>
								<th class="lh-30">수입이사화물</td>
								<td class="pdlr-20 lh-30 ta-left">In Bound Door To Door</td>
							</tr>
							<tr>
								<th class="lh-30">국제해운 대리점 영업</td>
								<td class="pdlr-20 lh-30 ta-left">International Freight Forwarder</td>
							</tr>
							<tr>
								<th class="lh-30">포장,보관,통관</td>
								<td class="pdlr-20 lh-30 ta-left">Packing, Warehousing, Customs Clearance Service</td>
							</tr>
							<tr>
								<th class="lh-30">중량화물</td>
								<td class="pdlr-20 lh-30 ta-left">Project Cargo Handlling</td>
							</tr>
							<tr>
								<th class="lh-30">항공화물</td>
								<td class="pdlr-20 lh-30 ta-left">Air Cargo Service</td>
							</tr>
						</tbody>
					</table>
					<div class="column-6 mgb-35" style="height: 1px; min-height: 1px; background: #d8d8d8;"></div>
					<!--div class="column-6 ta-center">
						<p class="square-btn type-1"><a href="/sub02/sub02_2_4.asp">실시간 상세 견적받기</a></p>
					</div-->
				</div>
				
			</div>










			<% include ./include/footer.ejs %> 


    </div>
    
  </body>
</html>



