<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_01_01">직거래이사서비스</a></li>
                    <li class="on" ><a href="/sub01/sub01_01_02">이사·화물품질정책</a></li>						
                    <li ><a href="/sub01/sub01_01_03">차량구비 시스템</a></li>
                    <li ><a href="/sub01/sub01_01_04">포장박스안내</a></li>
                    <li ><a href="/sub01/sub01_01_05">서비스리콜 센터운영</a></li>
                    <li ><a href="/sub01/sub01_01_06">이사·화물 진행절차</a></li>
                </ul>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>

        </div>

    

      <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">이사·화물품질정책</a>
				</p>
				<div id="title-section">
					<h1><span class="fc-turquoise">오투 공유공차 </span>및 <span class="fc-turquoise">품질관리정책으로<br /></span>최선의 서비스를 펼치고 있습니다.</h1>
					
				</div>
				<div id="content-section">
					<h3>오투 공유공차배정 가격우선정책</h3>
					<p>오투이사·화물은 소사장 직거래 시스템과 무점포 지역 지사장제를 통해 관리비 절감의 혜택을 고객께 되돌려드리는 가격우선정책을 실현하고 있습니다.<br/>지사장에 대한 정기교육과 서비스개발, 본부 콜센터 운영에 의한 최상의 서비스로 고정고객에 대한 만족도가 높습니다.</p>
					<h3>이사·화물 실명제 안심서비스</h3>
					<p>오투이사, 화물소사장의 지휘하에 작업자 실명 명찰착용으로 이사·화물서비스에 대한 책임을 갖고 우수서비스 요원에 대한 고객칭찬제로 별도 포상제를 실하여 고품질 서비스를 만들어 가고 있습니다.</p>
					<h3>지사장 공유품질관리</h3>
					<p>- 서비스품질관리를 위한 월 1회 정기 서비스 토론회 및 정보공유 시스템<br />
					- 고객칭찬카드제를 통한 우수지사포상제로 서비스품질향상<br />
					- 사후 고객불만족을 해소하는 리콜제운영으로 지속적인 고객만족 우선정책<br />
					- 우수서비스품질을 유지를 위한 불량서비스 퇴출제운영으로 항상 최상의 서비스가 유지될수 있도록 품질관리</p>
					<div class="division-1">
						오투이사·화물 품질시스템
					</div>
					<div id="service-group">
						<ul>
							<li class="icon-03">
								<h4>프로이사, 화물전문 요원 - 전국 60곳 지사시스템</h4>
								<p>전문인력을 관리하는 지사책임제로 책임전문가와 전업도우미배정</p>
							</li>
							<li class="icon-09">
								<h4>정기교육 - 월1회, 지사소사장 서비스교육</h4>
								<p>오투이사, 화물 소사장에 대한 정기교육과 세미나로 서비스 품질유지</p>
							</li>
							<li class="icon-10">
								<h4>CIP 서비스 프로그램 - 오투이사, 화물 서비스 메뉴얼</h4>
								<p>복장, 명찰, 점퍼, 앞치마 등 오투이사·화물 정복착용제로 안심섭지스</p>
							</li>
							<li class="icon-05">
								<h4>홈페이지 이사실명제 - 고객께 서비스맨 정보공유</h4>
								<p>온라인으로 홈페이지에 사진과 실명을 등록하여 고객께 정보공유공개</p>
							</li>
							<li class="icon-04">
								<h4>고객칭찬제 - 우수서비스요원 칭찬포상제운영</h4>
								<p>고객만족을 드리는 우수요원에게 별도사내 포상제로 서비스품질 관리</p>
							</li>
							<li class="icon-08">
								<h4>우수소사장팀 우선배차배정제</h4>
								<p>고객만족도가 높은 소사장팀에게 우선배차시스템으로 안정적인 수익증가</p>
							</li>
						</ul>
					</div>
				</div>
				
			</div>




			<% include ./include/footer.ejs %> 

    </div>
    
  </body>
</html>



