<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_01_01">직거래이사서비스</a></li>
                    <li><a href="/sub01/sub01_01_02">이사품질관리</a></li>						
                    <li><a href="/sub01/sub01_01_03">차량소개</a></li>
                    <li><a href="/sub01/sub01_01_04">포장박스안내</a></li>
                    <li><a href="/sub01/sub01_01_05">고객평가제도안내</a></li>
                    <li  class="on"><a href="/sub01/sub01_01_06">이사흐름도</a></li>
                </ul>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>

        </div>

    

      <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">이사흐름도</a>
				</p>

				<div id="title-section">
					<h1><span class="fc-turquoise">오투이사는</span> 이사문의, 계약, 계약이행과 <br />A/S처리까지 <span class="fc-turquoise">최선을 다하겠습니다.</span></h1>
					<p>오투이사홈페이지에서는 고객님의 이사물량에 대한 예상 견적을 내보실 수 있습니다. <br />이사는 사람과 기계과 옮기는 작업이라 A/S 발생이 높은 서비스이지만 최선을 다하는 오투이사가 되겠습니다.</p>
				</div>
				<div id="content-section">
					<h3>이사문의</h3>
					<p>홈페이지에서는 고객님의 이사물량에 해당 예상 견적을 내실 수 있습니다. 고객지원센터(1577-2404)에 문의하시면 상담원이 예상견적을 내드리며 보다 상세한 견적은 이사팀장의 방문견적을 통해 이루어집니다. 계약서발급은 반드시 계약이 체결되시면 방문견적시 현장에서 계약서를 발급받으시거나 또는 홈페이지에서 온라인계약서를 발급받으시기 바랍니다.</p>
					<h3>이사비용지불 및 A/S</h3>
					<p>이사가 완료되면 직접 이사팀에게 비용을 지불하시면 됩니다. 오투이사는 직거래서비스이므로 지불하신 비용은 본사의 중개수수료가 없으며 전액 이사팀의 수입이 됩니다. 이사 후 부주의로 파손등의 손실이 발생 할 경우 홈페이지에서 A/S를 신청하시면 됩니다. 이사는  사람과 기계가 옮기는 작업이라 A/S발생이 높은 서비스이지만 최선을 다하겠습니다.</p>
					<div class="division-1">
						상세 이사흐름도
					</div>
					<div class="column-6 ta-center">
						<img src="/images/workflow.png" />
					</div>
				</div>






        <% include ./include/footer.ejs %> 


    </div>
    
  </body>
</html>



