<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                
                <ul>
                    <!--li ><a href="/sub01/sub01_3_1.asp">부가서비스안내</a></li-->
                    <li><a href="/sub01/sub01_03_01">청소서비스안내</a></li>
                    <li class="on"><a href="/sub01/sub01_03_02">에어컨서비스안내</a></li>
                </ul>		
                            
            </div>

        </div>


    

    <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">부가서비스</a><a href="#none">부가서비스안내</a>
				</p>

				<div id="title-section">
					<h1>전문업체를 이용하여 <span class="fc-turquoise">안전하고 편리하게</span> <br/>에어컨을 <span class="fc-turquoise">이전/설치</span> 해드립니다.</h1>
					<p>오투이사에서는 고객편의를 위해 <span class="fc-turquoise">협력업체를 안내</span>해 드립니다.</p>
				</div>

					<div class="division-1 mgb-35">
						에어컨 설치 요금표
					</div>
					<table id="table-1" class="column-6 mgb-15">
						<thead>
							<tr>
								<th height="30" class="column-1">구분</th>
								<th colspan="2" class="column-1">내역</th>
								<th class="column-1">가격</th>
								<th class="column-3">비고</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="lh-30">철거운송비</th>
								<td colspan="2" class="lh-30">1대당</td>
								<td class="lh-30">20,000원</td>
								<td class="pdlr-20 lh-30 ta-left">23평 미만 / 실내기기준</td>
							</tr>
							<tr>
								<th rowspan="3" class="lh-30">기본비용 무료<br />(출장비, 견적비)</th>
								<td colspan="2" class="lh-30">벽걸이</td>
								<td rowspan="3" colspan="2" class="lh-30">이사후 1개월 이내 설치시<br />(배관 등 자재비와 인건비는 고객이 별도로 부담해야합니다.)</td>
							</tr>
							<tr>
								<td colspan="2" class="lh-30">스탠드</td>
							</tr>
							<tr>
								<td colspan="2" class="lh-30">2in1</td>
							</tr>
							<tr>
								<th rowspan="4" class="lh-30">배관비</th>
								<td rowspan="2" class="lh-30">기존</td>
								<td class="lh-30">벽걸이형</td>
								<td class="lh-30">12,000원</td>
								<td class="pdlr-20 lh-30 ta-left">배관 1m당</td>
							</tr>
							<tr>
								<td class="lh-30">스탠드형</td>
								<td class="lh-30">15,000원</td>
								<td class="pdlr-20 lh-30 ta-left">배관 1m당</td>
							</tr>
							<tr>
								<td rowspan="2" class="lh-30">인버터</td>
								<td class="lh-30">벽걸이형</td>
								<td class="lh-30">15,000원</td>
								<td class="pdlr-20 lh-30 ta-left">친환경 냉매 (R410a) 사용제품 배관 1m당</td>
							</tr>
							<tr>
								<td class="lh-30">스탠드형</td>
								<td class="lh-30">20,000원</td>
								<td class="pdlr-20 lh-30 ta-left">친환경 냉매 (R410a) 사용제품 배관 1m당</td>
							</tr>
							<tr>
								<th rowspan="2" class="lh-30">가스조정비</th>
								<td colspan="2" class="lh-30">일반냉매</td>
								<td class="lh-30">30,000원</td>
								<td class="pdlr-20 lh-30 ta-left">기존 R22</td>
							</tr>
							<tr>
								<td colspan="2" class="lh-30">인버터</td>
								<td class="lh-30">50,000원</td>
								<td class="pdlr-20 lh-30 ta-left">친환경 냉매 (R410a) 사용제품 배관 / 진공작업</td>
							</tr>
							<tr>
								<th class="lh-30">천공작업비</th>
								<td colspan="2" class="lh-30">1구당</td>
								<td class="lh-30">20,000원</td>
								<td class="pdlr-20 lh-30 ta-left">벽체두께 15cm이상에 한함</td>
							</tr>
							<tr>
								<th rowspan="3" class="lh-30">앵글 (난간작업비포함)</th>
								<td colspan="2" class="lh-30">벽걸이형</td>
								<td class="lh-30">70,000원</td>
								<td class="pdlr-20 lh-30 ta-left">기존앵글 외부난간에 부탁시 30,000원</td>
							</tr>
							<tr>
								<td colspan="2" class="lh-30">스탠드형</td>
								<td class="lh-30">100,000원</td>
								<td class="pdlr-20 lh-30 ta-left">기존앵글 외부난간에 부탁시 40,000원</td>
							</tr>
							<tr>
								<td colspan="2" class="lh-30">2in1 (홈멀티)</td>
								<td class="lh-30">120,000원</td>
								<td class="pdlr-20 lh-30 ta-left">기존앵글 외부난간에 부탁시 40,000원</td>
							</tr>

							<tr>
								<th class="lh-30">난간작업비</th>
								<td colspan="2" class="lh-30"></td>
								<td class="lh-30">30,000원</td>
								<td class="pdlr-20 lh-30 ta-left">베란다 외부 기존난간대(외부앵글)에 실외기 투입 후 배관연결 작업을 하는 경우</td>
							</tr>
							<tr>
								<th class="lh-30">배수펌프</th>
								<td colspan="2" class="lh-30">1EA당</td>
								<td class="lh-30">60,000원</td>
								<td class="pdlr-20 lh-30 ta-left">실내에 하수구가 없거나 자연배수가 불가한 경우</td>
							</tr>
							<tr>
								<th class="lh-30">특수관 (주름관)</th>
								<td colspan="2" class="lh-30">1m당</td>
								<td class="lh-30">30,000원</td>
								<td class="pdlr-20 lh-30 ta-left">배관 연결통로 (PVC매립)의 굴곡이 심하여 일반배관 사용이 불가능한 경우 (용접비 포함)</td>
							</tr>
							<tr>
								<th class="lh-30">용접비</th>
								<td colspan="2" class="lh-30">1구당</td>
								<td class="lh-30">5,000원</td>
								<td class="pdlr-20 lh-30 ta-left"></td>
							</tr>
							<tr>
								<th class="lh-30">바람막이</th>
								<td colspan="2" class="lh-30">1EA당</td>
								<td class="lh-30">40,000원</td>
								<td class="pdlr-20 lh-30 ta-left">실외기에서 방출되는 열기를 위로 유도하는 장치</td>
							</tr>
							<tr>
								<th class="lh-30">택스작업</th>
								<td colspan="2" class="lh-30"></td>
								<td class="lh-30">협의</td>
								<td class="pdlr-20 lh-30 ta-left">배관이 천정 위로 지나야 하는 경우</td>
							</tr>
							<tr>
								<th class="lh-30">장비사용료</th>
								<td colspan="2" class="lh-30"></td>
								<td class="lh-30">실비</td>
								<td class="pdlr-20 lh-30 ta-left">크레인, 사다리차를 사용하는 경우</td>
							</tr>
							<tr>
								<th class="lh-30">질소브로잉</th>
								<td colspan="2" class="lh-30"></td>
								<td class="lh-30">협의</td>
								<td class="pdlr-20 lh-30 ta-left">기존 R22가스 사용배관(선매립)세척</td>
							</tr>
							<tr>
								<th class="lh-30">진공작업비</th>
								<td colspan="2" class="lh-30">대방</td>
								<td class="lh-30">30,000원</td>
								<td class="pdlr-20 lh-30 ta-left">매립배관(고객선택)</td>
							</tr>
						</tbody>
					</table>
					<p class="mg-0 fs-12 fc-777">· 2012.04.10 기준가격입니다.</p>
					<p class="mg-0 fs-12 fc-777">· AS 보증기간 설치 후 1년</p>
					<p class="mg-0 fs-12 fc-777">· 일반 수리비 -> 실비</p>
					<p class="mg-0 fs-12 fc-777">· 냉.온풍기 및 중.대형 제품 별도견적</p>
					<p class="mg-0 fs-12 fc-777 mgb-15">· 오투이사에서는 고객편의를 위해 협력업체를 안내해드립니다. 에어컨 등 부가서비스업체는 고객님께서 별도로 진행하셔도 무방합니다.</p>
					<table id="table-1" class="column-6 mgb-35">
						<thead>
							<tr>
								<th height="30" class="column-1">에어컨서비스센터</th>
								<th class="column-1">전화번호</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th height="30" class="column-1">LG에어컨</th>
								<td class="column-1">1544-6939</td>
							</tr>
							<tr>
								<th>만도위니아</th>
								<td>1588-9588</td>
							</tr>
							<tr>
								<th>삼성에어컨</th>
								<td>1588-3366</td>
							</tr>
							<tr>
								<th>Carrier 에어컨</th>
								<td>1588-8866</td>
							</tr>
							<tr>
								<th>센추리 에어컨</th>
								<td>1600-0099</td>
							</tr>
							<tr>
								<th height="30" class="column-1">대우 에어컨</th>
								<td>1588-1588</td>
							</tr>
						</tbody>
					</table>
					<div class="column-6 mgb-35" style="height: 1px; min-height: 1px; background: #d8d8d8;"></div>
					<div class="column-6 ta-center">
						<p class="square-btn type-1"><a href="/sub02/sub02_3_1.asp">에어컨 서비스 신청하기</a></p>
					</div>
				
			</div>










			<% include ./include/footer.ejs %> 




    </div>
    
  </body>
</html>



