<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li class="on"><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">이사진행</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}
				</style>
								<div class="con_nav">
					<ul>
						<li ><a href="sub03_02_01">집내놓기</a></li>
						<li ><a href="sub03_02_02">부동산계약서</a></li>
						<li ><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li ><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li ><a href="sub03_02_05">이사업체선정</a></li>
						<li class="on"><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						이사전 집안정리 
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						이사 1주일 전에는 집안정리를 합니다.<br />
						가져갈물건과 버릴물건을 정리해서 불필요한 짐들은 정리합니다.<br /><br />
						그 이외에<br />
						- 냉장고의 음식물도 줄이기<br />
						- 재활용품 버리기<br />
						- 고지서 주소변경<br />
						- 이삿날 경비실에 알리기<br />
						- 이사갈 집의 가구 배치 구상 등의 업무가 있습니다.<br />
						<span style="color:red;font-weight:bold;">- 쓰레기 봉투(50리터 1~2장 정도)준비</span><br />
						(자세한업무는 일정별 체크리스트 참조)
					</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						이삿날 
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						포장이사는 이사전문대행업체에서 포장에서 운반, 정리까지 전 과정을 담당하므로 이사전에 미리 포장을 하지 않아도 됩니다.<br />
						작업자가 출발지의 집안배치를 기억해서 도착지에 그대로 배치하므로 미리 포장을 하게 되면 오히려 도착지에서 정리가 되지 않을 수 있기 때문입니다.<br />
						귀중품은 반드시 고객이 챙겨야 합니다. <br />
						분실이나 다른 이삿짐속에 섞여 찾지 못하는 경우가 많기 때문입니다.
					</p>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						만약, 지금살고 있는 평수보다 더 좁은곳으로 이사를 가게될 경우에는 도착지의 집안배치를 고려해서 수납공간을 최대한 활용할 수 있도록 이사전 미리 설계를 해놓으셔야 합니다.<br />
						그렇지 않을 경우, 이사당일 물건을 놓을곳이 없어 이사팀이 정리하지 못하는 경우가 발생하고, 이사 후 며칠동안 고생과 엄청난 스트레스를 받는 분이 많이 계십니다.
					</p>			
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						이사일에는 특별히 주의를 기우려야 하는 물품에 대해 작업팀에게 미리 고지를 하는 것이 안전합니다.<br />
						단, 실내에서는 포장한 물건들로 인해 공간이 아주 협소해지므로 안전한 작업을 위해 작업현장에서 조금 떨어진 곳에 계셔야 합니다.
					</p>								
				</div>
				<div class="column-6 ta-center" style="margin-top:100px;">
					<p class="square-btn type-1"><a href="/sub02/sub02_2_1.asp">실시간 상세 견적받기</a></p>
				</div>	
				</div>				
			</div>

























			<% include ./include/footer.ejs %> 





    </div>
    
  </body>
</html>



