<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li class="on"><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li ><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li ><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li ><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">부동산 중개수수료</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}

				.con33_table {border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; width:100%; text-align:center; letter-spacing:-0.5px;}
				.con33_table th,td {border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; height:30px; padding:0 10px;}
				.con33_table thead th {background:#00a3b4; color:#fff; font-weight:normal;}
				.con33_table tbody td {color:#7d7d7d; font-weight:normal; padding-left:5px;}
				.con33_table tbody td img {vertical-align:middle;}				
				.con33_table tbody th {background:#00a3b4; color:#fff; font-weight:normal; width:100px;}
				.con33_table .la {text-align:left;}
				.con33_table .la2 {text-align:left; padding:0 30px;}
				</style>
								<div class="con_nav">
					<ul>
						<li ><a href="sub03_02_01">집내놓기</a></li>
						<li ><a href="sub03_02_02">부동산계약서</a></li>
						<li class="on"><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li ><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li ><a href="sub03_02_05">이사업체선정</a></li>
						<li ><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						중개수수료란?
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						부동산 중개수수료는 부동산 공인 중개사를 통해 매매(전.월세포함)당사자 모두 중개사무소에 수수료를 내야한다.<br />
						대개의 경우 계약서 작성시 절반, 거래대금 완불시 절반을 지급토록 조례에 명시되어 있다.<br /><br/>
						*오투이사는 오투이사 계약고객에 한하여 오투부동산 중개사이트를 통해 성사된 중개수수료의 20%를 할인해주는 특전을 드리고 있습니다.<br />
					</p>
				</div>
				<!-- <div id="content-section">
					<div class="division-1">
						분양권 중개수수료
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
					부동산 중개수수료= 거래가액*수수료 요율<br />
					*거래가액은 분양권거래 당시의 거래금액(계약금+중도금+프리미엄)임<br />
					분양가액은 분양권 계약후 입주시까지 납부할 총분양대금을 뜻하며 중도 분양권매매 거래금액과는 별개사항임
					</p>
				</div> -->
				<div id="content-section">
					<div class="division-1">
						분양권 중개수수료
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						부동산 중개수수료= 거래가액*수수료 요율<br />
						※ 거래가액은 분양권거래 당시의 거래금액(계약금+중도금+프리미엄)임<br />
						※ 분양가액은 분양권 계약후 입주시까지 납부할 총분양대금을 뜻하며 중도 분양권매매 거래금액과는 별개사항임 
					</p>
				</div>								
				<div id="content-section">
					<div class="division-1">
						부동산 중개수수료 요율표: 각 시도별 조례로 정함
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						1. 서울특별시 조례에 의한 부동산 중개수수료 요율표 <br />
						<table border="0" cellpadding="0" cellspacing="0" class="con33_table">	
							<tbody>	
								<tr>
									<th>구분</th>
									<th>거래가액</th>
									<th>수수료요율상한(%)</th>
									<th>한도액(만원)</th>
									<th>비고</th>																																				
								</tr>
								<tr>
									<td rowspan="4">매매·교환</td>
									<td align="left">⊙ 5천만원 미만</td>
									<td>0.6</td>
									<td>25</td>
									<td rowspan="3">중개수수료 = <br/>거래가액X중개수수료율</td>																																				
								</tr>
								<tr>
									<td align="left">⊙ 5천만원 이상 2억원 미만</td>
									<td>0.5</td>
									<td>80</td>
								</tr>
								<tr>
									<td align="left">⊙ 2억원 이상 6억원 미만</td>
									<td>0.4</td>
									<td>한도액없음</td>
								</tr>	
								<tr>
									<td align="left">⊙ 6억원 이상 거래 가액<br/>⊙ 일반주택을 제외한 중개 대상물</td>
									<td colspan="3">
										법정중개수수료요율 0.2%~0.9%내에서<br/>
										중개의뢰인과 중개업자간의 상호계약에따라 협의 결정
									</td>
								</tr>		
								<tr>
									<td rowspan="4">매매·교환이외 임대차 등</td>
									<td align="left">⊙ 5천만원 미만</td>
									<td>0.5</td>
									<td>20</td>
									<td rowspan="3">중개수수료 = <br/>거래가액X중개수수료율</td>																																				
								</tr>
								<tr>
									<td align="left">⊙ 5천만원 이상 1억원 미만</td>
									<td>0.4</td>
									<td>30</td>
								</tr>
								<tr>
									<td align="left">⊙ 1억원 이상 3억원 미만</td>
									<td>0.3</td>
									<td>한도액없음</td>
								</tr>	
								<tr>
									<td align="left">⊙ 3억원 이상 임대 가액<br/>⊙ 일반주택을 제외한 중개 대상물</td>
									<td colspan="3">
										법정중개수수료요율 0.2%~0.8%내에서<br/>
										중개의뢰인과 중개업자간의 상호계약에따라 협의 결정
									</td>
								</tr>																						
							</tbody>
						</table>				
					</p>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						2. 경기도 조례에 의한 부동산 중개수수료 요율표<br />
						2-1. 일반주택(고급 주택은 제외)
						<table border="0" cellpadding="0" cellspacing="0" class="con33_table">	
							<tbody>	
								<tr>
									<th>구분</th>
									<th>거래가액</th>
									<th>수수료요율상한(%)</th>
									<th>한도액(만원)</th>
								</tr>
								<tr>
									<td rowspan="3">매매·교환</td>
									<td align="left">⊙ 5천만원 미만</td>
									<td>0.6</td>
									<td>25</td>
								</tr>
								<tr>
									<td align="left">⊙ 5천만원 이상 2억원 미만</td>
									<td>0.5</td>
									<td>80</td>
								</tr>
								<tr>
									<td align="left">⊙ 2억원 이상 6억원 미만</td>
									<td>0.4</td>
									<td>-</td>
								</tr>	
								<tr>
									<td rowspan="3">매매·교환이외 임대차 등</td>
									<td align="left">⊙ 5천만원 미만</td>
									<td>0.6</td>
									<td>20</td>
								</tr>
								<tr>
									<td align="left">⊙ 5천만원 이상 1억원 미만</td>
									<td>0.5</td>
									<td>30</td>
								</tr>
								<tr>
									<td align="left">⊙ 1억원 이상 3억원 미만</td>
									<td>0.4</td>
									<td>-</td>
								</tr>									
							</tbody>
						</table>
					</p>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						2-2. 일반주택을 제외한 중개대상물과 매매가 6억 원 이상 또는 임대가 3억 원 이상의 고급주택은 중개수수료 한도(매매 0.2% 내지 0.9%, 임대 0.2% 내지 0.8%) 내에서 중개의뢰인과 중개업자가 별도 체결하는 계약에 따른다.<br/><br/>
						※ 월세가 있는 경우에는 [월세보증금 + (월세액X계약기간월수)]에 의해 산출된 금액 기준
					</p>					
					<div class="column-6 ta-center" style="margin-top:100px;">
						<p class="square-btn type-1"><a href="/sub02/sub02_02_01">실시간 상세 견적받기</a></p>
					</div>
					</div>
				</div>						
			</div>























			<% include ./include/footer.ejs %> 





    </div>
    
  </body>
</html>



