<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-02">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사견적/신청</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub02/sub02_01_01">이사기본요금안내</a></h4>
                
                <ul>
                    <li class="on"><a href="/sub02/sub02_01_01">포장이사기본요금</a></li>
                    <li ><a href="/sub02/sub02_01_02">보관요금</a></li>
                    <li ><a href="/sub02/sub02_01_03">부가서비스요금</a></li>
                </ul>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub02/sub02_02_01">견적내기 및 신청</a></h4>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub02/sub02_03_01">부가서비스 신청</a></h4>
                    
            </div>
            
        </div>



    

   <!-- leftmenu end -->			
   <div id="inner-wrap">
	<p id="breadcrumb">
		<a href="#none" class="home">HOME</a><a href="#none">이사견적/신청</a><a href="#none">이사기본요금안내</a><a href="#none">포장이사기본요금</a>
	</p>

	<div id="content-section">
		<h3>기업이윤이 없는 직거래서비스</h3>
		<p>물량이 30CBM(5톤탑차 1대 분량)까지의고객님에게 제공해드리는 이사비용은 물량과 작업량을 감안, 인건비 수준의 원가로 서비스를 제공해 드립니다. 그러나 이삿짐이 30CBM을 상회하는 고객일 경우 더 많은 물량으로 인해 이삿짐의 파손 등 A/S발생비율이 높아지고 유류비, 인건비 그리고 사다리 차량등 물량과 관계되는 작업량이 동반 상승합니다. 그러므로 오투이사는 30평형 이하의 고객님이 가장 알뜰하게 이사를 하실 수 있는 가격구조로 되어 있으며, 물량이 많을 경우 패밀리브랜드인 KGB이사를 이용하시면 더 유리할 수 있습니다.</p>

		<h3>이사비용 원가보급 취지</h3>
		<p>아직 경제적인 여유가 없거나 이삿짐이 소량인 관계로 고급포장이사브랜드인 KGB이사 등 대형이사업체와 계약하지 못하는 고객분께 원가수준의 포장이사서비스를 제공해 드립니다. 이는 향후 고객님께서 더 넓은 평수로 이사하실 때 고급포장이사브랜드인 KGB이사를 이용하실 수 있는 미래의 고객이 되시기 때문입니다. 그러나 가격이 저렴하다고해서 서비스품질도 동반 하락하지 않도록 하기위해 차별화된 서비스 전략으로 고품질서비스를 제공해드려 서비스를 제공하는 분과 이용하는 모든 분들이 함께 만족할 수 있는 세상을 만들어 가겠습니다.</p>
		<h3>사다리차 에어컨</h3>
		<p>사다리차, 에어컨은 오투이사에서 제공해드리는 이사서비스가 아닌 고객의 편의를 위해 협력업체를 연결시켜드리는 부가서비스입니다.</p>
		<div class="division-1 mgb-35">
			이사 기본요금
		</div>
		<table id="table-1" class="column-6 mgb-35">
			<thead>
				<tr>
					<th height="30" class="column-1">구분</th>
					<th class="column-2_5">내역</th>
					<th class="column-2_5">기본요금</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="lh-30">인원</th>
					<td class="pdlr-20 lh-30 ta-left">남자작업원 3명 / 여자도우미 1명</td>
					<td rowspan="4" class="pdlr-20 lh-30 ta-left">일반팀 기준 660,000원<br><br>다만, 평일이며 도시권 행정동 내 이사시에 한하여 600,000원</td>
				</tr>
				<tr>
					<th class="lh-30">물량</th>
					<td class="pdlr-20 lh-30 ta-left">30CBM (5톤탑차 1대 기준)</td>
				</tr>
				<tr>
					<th class="lh-30">거리/층</th>
					<td class="pdlr-20 lh-30 ta-left">같은 시내 (10Km이내) / 1층 ~ 1층</td>
				</tr>
				<tr>
					<th class="lh-30">이사일</th>
					<td class="pdlr-20 lh-30 ta-left">평일</td>
				</tr>
				<tr>
					<th class="lh-30">옵션</th>
					<td class="pdlr-20 lh-30 ta-left">제외 (옵션항목, 에어컨, 사다리 등)</td>
					<td class="pdlr-20 lh-30 ta-left">부가서비스 요금표 참조</td>
				</tr>
				<tr>
					<th rowspan="2" class="lh-30">이사일에 따른 요금</th>
					<td class="pdlr-20 lh-30 ta-left">주말 (금,토,일,공휴일,매달말일 3일 간)</td>
					<td class="pdlr-20 lh-30 ta-left">730,000원</td>
				</tr>
				<tr>
					<td class="pdlr-20 lh-30 ta-left">손없는 날 (주말+손없는날)</td>
					<td class="pdlr-20 lh-30 ta-left">860,000원</td>
				</tr>
				<tr>
					<th rowspan="2" class="lh-30">프리미엄 요금</th>
					<td class="pdlr-20 lh-30 ta-left">베스트팀</td>
					<td class="pdlr-20 lh-30 ta-left">일반팀 + 5만원</td>
				</tr>
				<tr>
					<td class="pdlr-20 lh-30 ta-left">명예의 전당팀</td>
					<td class="pdlr-20 lh-30 ta-left">일반팀 + 10만원</td>
				</tr>
			</tbody>
		</table>
		<ul id="before-star" class="column-6">
			<li>오투이사는, 정부인정 기업부설연구소인 ‘KGB물류연구소’의’이사표준운임연구’결과를 토대로, 고객에게는 적정 이사요금의 기준을 제공하고,<br>이사팀에게는 적정 수익을 보장하는 상호 신뢰관계 형성을 위하여 포장이사 기본요금을 공시하고 있습니다.</li>
			<li>위 기본요금은 오투이사의 직거래서비스를 기반으로 최소의 비용기준으로 산정되었습니다.</li>
			<li>이사 물량 및 이사거리, 이사현장의 작업상황에 따라 이사비용은 다르게 산출됩니다.</li>
			<li>청소는 이사과정에서 발생하는 먼지 제거 등 기본청소에 한하며, 추가로 청소가 필요할 경우에는 이사사업자와 협의 또는 전문 청소 업체에 의뢰바랍니다.<br>(당사 청소협력업체 문의)</li>
			<li>오투이사 1톤탑차 3대팀의 경우 장거리 이사시 차량 3대 이동으로 인한 운송요금이 증가하여, 고객에게 불리합니다.</li>
		</ul>
		<div class="division-1 mgb-35">
			이사요금 부대조건
		</div>		
		<p style="line-height:25px;">
		1. 이사 기본요금은 30CBM, 10km 이내, 1층에서 1층, 평일, 옵션요금 별도입니다.<br/>
		2. 이사요금은 기본요금에 이사물량, 이사거리, 옵션요금(별도의 옵션 요금표 참조)에 따라 추가 및 할증됩니다. (거리는 네이버 지도-길찾기-추천거리 기준)<br/>
		3. 이손품(파손되기 쉬운 물품)에 대해서는 보험 손해배상 산정가 등 기준으로<br/>
		단품기준으로 100만원 이상 2만원, 200만원 이상 5만원, 300만원 이상 10만원, 500만원 이상 15만원, 1,000만원 이상 20만원의 이손료가 추가됩니다.<br/>
		다만, 유가증권, 현금, 귀금속, 골동품 등 귀중품은 고객께서 직접 운송하여야 합니다.<br/>
		4. 전문가의 손길이 필요한 에어컨, 가스, 전기, 수도, 전문청소 등 작업은 전문가에게 의뢰하여야 하며, 청소 및 에어컨에 대해서는 고객의 의뢰시 협력업체를 안내해드릴 수 있습니다(청소, 에어컨 협력업체 문의). <br/>
		5. 가구 가전 등 분해 조립물품은 난이도에 따라 요금이 추가될 수 있습니다. <br/>
		6. 사다리차 요금은 이사사업자의 수입이 아니며, 고객께서 사다리차 사업자에게 별도로 요금을 지급하셔야 합니다(사다리차 요금표 참조). <br/>
		7. 작업시간이 지체되거나 작업의 난이도가 높아지는 이사작업의 경우 이사요금이 추가될 수 있습니다(이송거리, 계단작업, 중량물, 특수 작업 등). <br/>
		8. 유료도로 통행료는 별도이며, 제주도 및 각 도서지역, 산간 오지 지역은 도선료 등 추가요금이 발생할 수 있습니다. <br/>
		9. 기본거리 10km 이내의 기본요금을 제외한 10km초과 거리에 대한 거리요금 추가금액에 대한 부가가치세는 이사요금에 포함되어 있지 않습니다. <br/>
		10. 고객의 책임으로 대기시간 발생시 대기료가 추가됩니다(이사화물표준약관 기준 : 계약금×1/2×대기 시간).<br/>
		11. 야간(20:00~08:00)이나 악천후 등 열악한 환경에서 작업시 인건비 발생액에 대하여 최대 50% 할증될 수 있습니다.<br/>
		12. 주말(금요일~일요일), 휴일, 월말(3일간), 손없는 날은 기본요금의 10~30%기준으로 할증됩니다.<br/>
		13. 이사팀 서비스 품질수준에 따라 베스트팀은 5만원, 명예의 전당팀은 10만원 요금이 추가됩니다.
		</p>						
		<div class="column-6 ta-center">
			<p class="square-btn type-1"><a href="/sub02/sub02_2_1.asp">포장이사 견적/신청하기</a></p>
		</div>
	</div>
	
</div>











<% include ./include/footer.ejs %> 




    </div>
    
  </body>
</html>



