<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-04">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
			<!-- leftmenu start -->
						<div id="side-nav">
	
				<h3 class="title">고객센터</h3>
				<div class="nav-section">
					<h4 ><a href="/sub04/sub04_01_01">고객문의</a></h4>
						
				</div>
				<div class="nav-section">
					<h4 class="on"><a href="/sub04/sub04_02_01">A/S</a></h4>
					
					<ul>
						<li class="on"><a href="/sub04/sub04_02_01">A/S 보상규정</a></li>
						<li ><a href="/sub04/sub04_02_02">A/S 안내</a></li>
						<li ><a href="/sub04/sub04_02_03">A/S 신청</a></li>					
					</ul>
						
				</div>
				<div class="nav-section">
					<h4 ><a href="/sub04/sub04_03_01">오투이사에 바란다</a></h4>
				</div>
	
			</div>
	
		



    

 
		<!-- leftmenu end -->			
		<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">고객센터</a><a href="#none">A/S</a><a href="#none">A/S 보상규정</a>
				</p>

				<div id="content-section">
				<div class="division-1">
					1. 손해배상
				</div>
				<p style="color:#9b9a9a; font-weight:300; margin:10px 0;">
				1-1. 금전적으로 평가하여 배상하는 것이 원칙이고 예외적으로 당사자가 다른 의사표시를 한 때에는 그에 의한다.<br />
				1-2. 배상하여야 할 손해배상의 범위는 채무불이행과 그로 말미암아 생긴 손해와의 사이에 상당인과 관계가 있어야 한다.<br />
				1-3. 채무불이행에 의하여 실제로 생긴 손해 가운데서 그러한 채무불이행으로부터 보통 일반적으로 생기는 것이라고 생각되는 손해만을 배상하는 것을 원칙으로 하고, 특별한 사정으로 생긴 손해는 채무자가 알았거나 알 수 있었을 경우에만 이를 배상한다.<br />
				1-4. [과실상계] 채무불이행에 관하여 채권자에게도 과실이 있는 때는 그 손해배상의 책임 및 그 금액을 정할 때 채권자의 과실을 참작하여 상계한다.<br />
				1-5. [손익상계] 채무불이행으로 손해를 받은 자가 같은 원인으로 이익을 얻고 있는 때에는 그 손해에서 이익을 공제한 것을 실제의 손해로 하여야 한다.<br />
				1-6. [대위] 채권자가 그의 채권의 목적이 물건이나 권리의 가액의 전부를 손해배상으로 받은 때에는 채무자는 그 물건 또는 권리에 관하여 당연히 채권자를 대위한다.
				</p>
				<div class="division-1">
					2. 상계
				</div>
				<p style="color:#9b9a9a; font-weight:300; margin:10px 0;">
				상계는 채권의 소멸사유중의 하나로 채권자와 채무자가 서로 동종의 채권, 채무를 가지는 경우에 그 채권과 채무를 대등액에서 소멸케 하는
				일방적 의사표시이다. 예컨대 주선업자는 화주에게 50만원의 대금채권을 가지고 있고, 화주는 주선업자에게 100만원의 손해배상청구권을
				가지고 있는 경우에 알선업자 또는 화주는 상대방에 대한 일방적 의사표시로 50만원의 금액에서 쌍방의 채권, 채무를 소멸케 하는 것이
				상계이다.
				</p>
				<div class="division-1">
					3. 소멸시효
				</div>
				<p style="color:#9b9a9a; font-weight:300; margin:10px 0;">
				운송주선인의 채권, 채무는 1년이다. 운송인의 책임은 운송물을 수령하고 운임 기타 비용을 지급 한 때 소멸, 다만 운송물에 즉시 발견할 수
				없는 훼손 또는 일부 멸실이 있는 경우에는 운송물을 수령한 날 로부터 2주이내에 운송인에게 그 통지를 발송 한 때에는 그러하지 아니하다.
				(상법 제 146조, 운송인의 책임소멸)<br /><br />

				사업자의 고의,과실로 인한 이사화물의 멸실, 파손, 훼손등 피해처리 부문<br /><br />

				1-1. 서화, 골동품, 조각물 등<br />
				일반적으로 사용이나 보유용도가 아닌 통상 완상용, 또는 관상용으로써 객관적으로 타당한 가액을 산출하기 곤란하고 주관적 판단에 의해서
				그 가치를 측정할 수 밖에 없는 예술적 희소가치를 갖고 있는 것을 말한다.<br />
				1-2. 책임의 한계<br />
				상법 제136조에 의하면 화폐, 유가증권 기타의 고가물에 대하여는 송하인(화주)이 운송물을 위탁할 때에 그 종류와 가액을 명시한 경우에
				한하여 운송인이 손해를 배상할 책임이 있다고 규정되어 있으므로 서화, 골동품, 조각물 등과 같은 것들을 고가물로 보아 그 종류 및 가액이
				명시되어 있는지 여부를 반드시 확인하여햐 한다. 이때 화주가 그러한 물건이 있다고 한 경우 안내를 하지 아니하였다면 손해배상의 문제가
				야기 될 수 있으므로 반드시 안내하도록 한다.<br />
				1-3. 손해액의 산정<br />
				고가물의 경우 그 종류 및 그 가액이 명시되어 있다면 그것을 참고로 하되 공인감정기관 또는 사설감정기관의 확인서를 첨부하여 그 손해액을
				산정한다. 일부 훼손되어 조금이나마 가치가 남아 있다고 산정되면 그 금액은 상계하여 손해액을 사정하든지 전액을 배상한 후 대위 취득하여
				잔존물에 대한 권리를 갖도록 한다.<br /><br />

				2. 가재 및 집기비품<br />
				피해물이 사고직전의 원상태로 복구가 가능한 품목에 대해서는 수리비용을, 수리가 불가능하거나 사고직전 가액을 초과하는 경우는 사고
				직전가액을 보상한다.<br /><br />

				2-1. 사고직전가액의 평가<br />
				2-1-1. 피해물의 규격, 용도, 성질, 메이커, 구입금액, 구입일자 등을 정확히 조사한다.<br />
				2-1-2. 피해물과 동종의 물건의 매매사례를 물가조사표와 백화점의 가격표 등을 참고로 조사한다.<br />
				2-1-3. 가재 및 집기는 사용으로 인하여 다소의 소모가 생기기 때문에 피해 등의 사고 당시 재조달가격에서 경과시간(사용기간)에 대한
				감가상각을 하여 사고직전 가액을 산정한다.<br />
				2-1-4. 감가상각 가재 및 집기비품의 내용인수와 경과시간(사용기간)에 따른 감가율(별표 참고)에 따라 품목별로 감가율을 적용하고
				피해물의 종류가 다양하고 사용기간, 제품의 질 등을 보아 개별적용이 어려운 경우에는 일괄적으로 25%~30%감가한다.<br /><br />

				품목별 내용연수표<br />
				</p>

				<style>
				.lh-30 {text-align:left; color:#7d7d7d; padding:2.5px 0 2.5px 15px;}
				.lh-30 {color:#959595;}
				</style>
				<table id="table-1" class="column-6" style="margin-bottom:10px;">
						<thead>
							<tr>
								<th height="30" style="width:696px;">품목</th>
								<th class="column-2_5" style="text-align:center;">내용연수</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="lh-30">농업용기기</th>
								<td class="lh-31">9~14년</td>
							</tr>
							<tr>
								<th class="lh-30">TV, 냉장고</th>
								<td class="lh-31">9년</td>
							</tr>
							<tr>
								<th class="lh-30">자동차, 보일러, 에어컨</th>
								<td class="lh-31">8년</td>
							</tr>
							<tr>
								<th class="lh-30">전축, 정수기, 가습기/제습기, 전기청소기, 전자레인지, 세탁기, 모터사이클</th>
								<td class="lh-31">7년</td>
							</tr>
							<tr>
								<th class="lh-30">비디오플레이어, DVD 플레이어, 전기(가스)오븐, 비데, 전기압력밥솥<br/>
								 가스레인지, 유.무선전화기, 믹서기, 전기온수기, 냉온수기, 캠코더, 홈시어터, 안마의자, 족욕기, 망원경, 현미경</th>
								<td class="lh-31">6년</td>
							</tr>
							<tr>
								<th class="lh-30">선풍기, 냉풍기, 전기장판, 카메라, 디지털피아노, 네비게이션, 난로(전기, 가스, 기름), 헬스기구, 골프채, 침대 <br/>
								 책상, 장롱, 장식장, 책장, 소파, 화장대, 찬장, 식탁, 신발장, 문갑</th>
								<td class="lh-31">5년</td>
							</tr>
							<tr>
								<th class="lh-30">퍼스널 컴퓨터(완성품) 및 주변기기, 노트북PC, 휴대용음향기기(MP3, 카세트, CD플레이어), 휴대폰, 스마트폰</th>
								<td class="lh-31">4년</td>
							</tr>
							<tr>
								<th class="lh-30">전기면도기, 전기조리기기(멀티쿠커, 튀김기, 다용도식품조리기, 전기토스터, 전기냄비, 전기프라이팬 등), 헤어드라이어</th>
								<td class="lh-31">3년</td>
							</tr>
							<tr>
								<th class="lh-30">라켓(테니스, 탁구, 배드민턴 등) 몸체(라켓에 부착된 라바 또는 끈 등은 제외), 문구, 완구</th>
								<td class="lh-31">1년</td>
							</tr>
							<tr>
								<th class="lh-30">별도의 기간을 정하지 않은 경우로서 유사품목에 따를 수 없는 경우</th>
								<td class="lh-31">5년</td>
							</tr>
						</tbody>
					</table>
				<p style="color:#9b9a9a; font-weight:300; margin:10px 0;">
				※ 공정거래위원회 고시 제2018-2호(2018.2.28.개정)<br />
			    &nbsp;&nbsp;&nbsp;&nbsp상기 내용연수는 부품보유기간을 개별 확인하여 공정위 고시 품목을 내용연수별로 재작성한 것임(부품보유기간에 가구는 명시되어 있지 않아 별도의 기간을 정하지 않은 품목으로 5년으로 지정하였으며, 내용연수가 변경되거나 추가된 품목은 밑줄로 표기하였음
				</p>
				<p style="color:#9b9a9a; font-weight:300; margin:10px 0;">
				산식(감가율) : 구입금액-(구입금액 x 사용기간(월)/내용연수(월)) = 가액<br /><br />

				2-1-5. 잔존물가액 공제<br />
				피해물중 잔존가치가 있는 품목에 대하여는 그 가치를 평가하여 공제하거나 매각하여 환입한다.

				</p>
			</div>											
				
			</div>


				



























			<% include ./include/footer.ejs %> 




    </div>
    
  </body>
</html>

