<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li class="on"><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li ><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li ><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li ><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li ><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">부동산계약서</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}
				</style>
								<div class="con_nav">
					<ul>
						<li ><a href="sub03_02_01">집내놓기</a></li>
						<li class="on"><a href="sub03_02_02">부동산계약서</a></li>
						<li ><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li ><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li ><a href="sub03_02_05">이사업체선정</a></li>
						<li ><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						1. 계약할때 주의할 점
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">계약 당사자 확인 계약 체결 당사자가 등기부 등본상의 소유자와 일치하는지 확인해야합니다.</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						2. 등기부등본 확인
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">토지나 주택 등 부동산에 관한 권리 관계를 기재한 최소한 등기부등본이라도 확인하면 부동산에 관계된 피해를 미연에 방지할수있습니다.<br/>
					예를 들어 근저당이 설정된 집에 이사를 하는경우 근저당에 의해 전세보증금을 완전히 보호받을수 없는 경우도 있습니다. 
					</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						3. 확정일자 받기
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						확정일자란 전월세계약을 체결하고 입주할 때 전세보증금을 보호받기 위한 장치로서 확정된 날짜에 임대차계약서가 존재한다는 사실을 증명하기 위해 공신력있는 기관에서 확인도장을 찍어주고 확정일자 번호를 계약서에 기재합니다.<br/>
						확정일자는 임대계약서를 지참하고 임차인 혼자서 동사무소나 등기소에서 간단히 처리할 수 있습니다.<br/>
						확정일자를 받아놓으면 이후에 그 집이 근저당설정이 되었더라도 우선순위로 전세보증금을 보호받을 수 있습니다.(우선순위 대항권)
					</p>
				</div>		
				<div id="content-section">
					<div class="division-1">
						4. 전세등기란
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						계약서상의 계약자가 갖는 권리로 세입자가 전세금을 돌려받지 못할 때 등기부등본에 전세권설정자의 전세권내역이 기록이 됨으로써 확정일자와 같은 보호를 받을 수 있지만 그 효력면에서 약간의 차이가 있습니다.<br/>
						확정일자는 전입, 확정일자, 실제거주자에 한해 우선순위대항권이 주어집니다.<br/>
						그러나, 사정상 현재살고 있는 주소지를 다른곳으로 옮기고 추후에 다시 복귀할려고 할 때 그 사이에 근저당설정이 되면 확정일자는 보호를 받을 수 없지만 전세등기는 보호를 받을 수 있는점이 다릅니다.
					</p>
				</div>									
					<div class="column-6 ta-center" style="margin-top:100px;">
						<p class="square-btn type-1"><a href="/sub02/sub02_2_1.asp">실시간 상세 견적받기</a></p>
					</div>		
					</div>		
			</div>





















			<% include ./include/footer.ejs %> 






    </div>
    
  </body>
</html>



