<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/font.css' />
    <link rel="stylesheet" href="/stylesheets/calendar.css" />	
    <link rel='stylesheet' href='/stylesheets/jquery-ui-1.10.3.min.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.imagemapster.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.ui.datepicker-ko.js"></script>	
    <script type="text/javascript" src="/javascripts/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/modernizr.custom.63321.js"></script>	
    <script type="text/javascript" src="/javascripts/jquery.cycle2.js"></script>	
    <script type="text/javascript" src="/javascripts/jquery.cycle2.scrollVert.js"></script>	
    <script type="text/javascript" src="/javascripts/jquery.cycle2.swipe.min.js"></script>			
    <script type="text/javascript" src="/javascripts/common.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
                <ul>
                    <li class="on"><a href="/sub01/sub01_01_01">직거래이사서비스</a></li>
                    <li ><a href="/sub01/sub01_01_02">이사품질관리</a></li>						
                    <li ><a href="/sub01/sub01_01_03">차량소개</a></li>
                    <li ><a href="/sub01/sub01_01_04">포장박스안내</a></li>
                    <li ><a href="/sub01/sub01_01_05">고객평가제도안내</a></li>
                    <li ><a href="/sub01/sub01_01_06">이사흐름도</a></li>
                </ul>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>

        </div>
    

      <div id="inner-wrap">
          <p id="breadcrumb">
            <a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">직거래이사서비스</a>
          </p>
          <div id="title-section">
            <h1><span class="fc-turquoise">불필요한 이사비용</span>은 싹! 빼버린, <br />내집에 꼭 맞는 <span class="fc-turquoise">직거래</span> 포장이사</h1>
            <p>본사에서 운영하는 콜센터(1577-2404)에서 지역별로 오투이사 소사장과 고객을 직접 연결시켜 드림으로써 <br />역경매와 달리 소개비와 중개수수료가 전혀 없는 100% 직거래로 고객의 부담을 대폭 줄였습니다.</p>
          </div>
          <div id="content-section">
            <h3>직거래 이사란 무엇인가요?</h3>
            <p>직거래란 중간 단계 없이 생산자와 소비자가 직접거래하는 방식입니다. 오투이사는 화물업계의 고질적인 병폐인 불공정 다단계거래를 하지 않습니다. 오투이사는 고객과 이사현장팀간의 직거래를 성사해 드리며 중개비용은 단 1%도 받지 않는 순수 직거래를 실현 하였습니다.</p>
            <h3>왜! 타 업체는 오투이사를 따라 할 수 없나요?</h3>
            <p>오투이사의 직거래시스템은 이사 업계의 서비스개선을 위한 프로그램으로써 어떤 이사 기업이라도 운영하기 힘든 본사의 수익이 없는 구조이기 때문입니다.</p>
            <h3>이사서비스 품질은?</h3>
            <p>“소사장이 직접 현장작업에 참여하는 시스템으로 실속과 품질의 두마리 토끼를 잡았습니다” 이사경험이 풍부하고 계속해서 그 지역에서 이사사업을 해야 하는 오투이사 사장님들이 본인 소유 차량으로 직접 작업하므로 몇 배 더 꼼꼼하고 친절한 서비스를 제공합니다.</p>
            <h3>ISO인증기업인 케이지비(주)</h3>
            <p>"꾸준한 품질관리정책으로 포장이사 서비스품질을 상향 평준화 하였습니다." 오투이사의 소사장 모두가 좋은 이사서비스를 제공하도록 이사 후 이사이용 고객을 대상으로 해피콜, 인터넷고객평가(칭찬,꾸중), 현장방문평가 등과 정기적인 품질향상교육을 실시합니다. 고객의 평가를 가장 중요한 지표로 삼고 팀간의 품질경쟁을 유도하여 더 많은 우수팀을 창출케하고 최상의 서비스가 이루어지도록 하는 엄격한 품질관리정책으로 가장 많은 고객이 찾고 만족하시는 고객만족도 1위 브랜드가 되었습니다.</p>
            <div class="division-1">
              오투이사 서비스 특징
            </div>
            <div id="service-group">
              <ul>
                <li class="icon-01">
                  <h4>직거래 이사서비스</h4>
                  <p>소개, 알선등의 불 필요한 중개수수료 없이 소사장(작업자)과 이사고객이 직접 거래합니다.</p>
                </li>
                <li class="icon-02">
                  <h4>이사가격</h4>
                  <p>직거래이므로 중간 마진이 없어 메이저 이사대행업체에 비해 가격이 저렴합니다. (30평 이하 고객에 한함)</p>
                </li>
                <li class="icon-03 clbh">
                  <h4>서비스 품질</h4>
                  <p>직거래를 통한 수익만족과 정기 서비스 교육, 팀평가제도(명예의 전당팀, 베스트팀, 일반팀)를 통해 품질을 관리합니다.</p>
                </li>
                <li class="icon-04">
                  <h4>숙련도</h4>
                  <p>일용직, 아르바이트가 아닌 소사장이 직접 이사현장에 참여하므로 작업품질이 매우 높습니다.</p>
                </li>
                <li class="icon-05 clbh">
                  <h4>신뢰도</h4>
                  <p>모든 팀원의 실명제 실시로 안심하고 믿을 수 있습니다.</p>
                </li>
                <li class="icon-06">
                  <h4>고객편의</h4>
                  <p>인터넷을 통해 작업팀의 스킬을 알 수 있도록 항상 열려있어 고객이 원하는 팀을 직접 선택할 수 있습니다.</p>
                </li>
                <li class="icon-07 clbh">
                  <h4>A/S</h4>
                  <p>이사의 끝은 A/S입니다. 이사 후 A/S보상규정과 이사표준약관에 따라 책임지므로 안심할 수 있습니다.</p>
                </li>
                <li class="icon-08">
                  <h4>품질보증</h4>
                  <p>ISO국제품질경영시스템 인증업체인 KGB가 품질을 보증합니다.</p>
                </li>
              </ul>
            </div>
            <div class="division-1">
              이사비용 분석
            </div>
            <div class="box-left column-3 ta-center" style="position:relative; line-height:1.5;">
              <h2 style="font-size:50px; font-weight:500; color:#ff7f00;">A</h2>
              <h4 style="margin:-5px 0 20px; font-size:20px; font-weight:400; color:#555;">- 일반 이사업체 -</h4>
              <ul class="og-box">
                <li class="two-line"><p class="point">인건비</p><p>남 10~14만원<br />여 8~10만원</p></li>
                <li><p class="point">견적비 및 잡비</p><p>2~5만원</p></li>
                <li><p class="point">사다리차량</p><p>기타옵션(별도)</p></li>
                <li><p class="point">부동산/역경매</p><p>수수료 5~20%</p></li>
                <li><p class="point">기업이윤, 제경비,일반관리비</p><p>추가부담</p></li>
                <li class="foot">유통구조가 많으므로 단가가 상승하며 서비스 질은<br />낮아지고 소비자의 경제적 부담도 가중</li>
              </ul>
              <div class="center-arrow"></div>
            </div>
            <div class="box-left column-3 ta-center" style="line-height:1.5;">
              <h2 style="font-size:50px; font-weight:500; color:#00a3b4;">B</h2>
              <h4 style="margin:-5px 0 20px; font-size:20px; font-weight:400; color:#555;">- 오투이사 -</h4>
              <ul class="gr-box">
                <li class="two-line"><p class="point">인건비</p><p>남3명 X 14만원<br />여1명 11만원</p></li>
                <li class="two-line"><p class="point">견적비 및 잡비</p><p>견적비 없음<br />잡비 2만원</p></li>
                <li><p class="point">사다리차량</p><p>기타옵션(별도)</p></li>
                <li class="blank">수수료가 없는 직거래시스템</li>
                <li class="foot">소비자와 소사장간 직거래가 이루어짐으로 종사자들에게<br />높은 수익률을 보장하고 소비자에게는 최저 비용으로<br />고품질 이사서비스를 받을 수 있게 합니다.</li>
              </ul>
            </div>
          </div>
          
        </div>



        <% include ./include/footer.ejs %> 



    </div>
    
  </body>
</html>



