<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content" style="background-image: url(/images/bg/move01.png);background-repeat: no-repeat;background-position: top right;">
        <!-- leftmenu start -->
                    <div id="side-nav">
    
            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
            </div>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                
                <ul>
                    <li class="on"><a href="/sub01/sub01_02_01">포장이사</a></li>
                    <li ><a href="/sub01/sub01_02_02">보관이사</a></li>
                    <li ><a href="/sub01/sub01_02_03">사무실이사</a></li>
                    <li ><a href="/sub01/sub01_02_04">해외이사</a></li>
                </ul>		
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>
    
        </div>

    

      <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">이사서비스</a><a href="#none">포장이사</a>
				</p>

				<div id="title-section">
					<h1><span class="fc-turquoise">원스톱</span> 포장이사시스템! <br />고객은 몸만 <span class="fc-turquoise">이동하세요!</span></h1>
					<p>오투이사는 팀별 차별화된 서비스 전략으로 타업체와는 다른 서비스를 제공하고 있으며, <br />이사전문 브랜드로서 최고의 서비스를 제공해드리기 위해 노력하고 있습니다.</p>
				</div>
				<div id="content-section">
					<h3>포장이사 서비스란?</h3>
					<p>재래식포장은 하나에서 열까지 고객이 직접포장하고 운송해야 하는 번거로움으로 포장이사에 비해 결론적으로 결코 싸다고 할수 없습니다. 오투포장이사는 전국60곳 소사장 지사시스템을 통해 전국최저가 포장이사를 모토로하고 있습니다. 일반적인 대기업포장이사가 가지는 장점인 브랜드관리와 전국지사를 통한 오투이사 콜센터 현장배차프로그램으로 A/S등 이사품질까지 동시에 만족합니다.</p>
					<h3>오투이사는 편리합니다.</h3>
					<p>오투이사의 포장이사는 이사.화물 전문브랜드로 홈페이지를 통한 견적과 방문견적을 동시에 의뢰할 수 있는 장점을 가지고 있습니다. 이사.화물의 상담, 운송, 진행, A/S까지 전과정이 온라인으로 결재관리되어 편리한 시스템입니다.</p>
					<h3>이사·화물 차별화된 서비스전략</h3>
					<p>이삿짐의 포장과 운송, 배치 정리까지 포장이사는 원스톱 서비스로 소 사장의 전문화된 팀 운명으로 이루어집니다. 고객은 필요에 따라 별도로 청소, 정리 등 매뉴얼화된 가격표에 의해 사전에 온라인으로 서비스를 선택, 전문 서비스를 추가하실 수 있습니다.</p>
					<div class="division-1 mgb-35">
						가구별 차량구성
					</div>
					<table id="table-1" class="column-6">
						<thead>
							<tr>
								<th height="30" class="column-1_5">평형별</th>
								<th class="column-1_5">주택구조</th>
								<th class="column-1_5">가족구성</th>
								<th class="column-1_5">투입차량</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th rowspan="2">10평 이하</th>
								<td rowspan="2">원룸</td>
								<td height="30" class="lh-30">2명 이하</td>
								<td height="30" class="lh-30">1대</td>
							</tr>
							<tr>
								<td height="30" class="lh-30">3명 ~ 4명</td>
								<td height="30" class="lh-30">2대</td>
							</tr>
							<tr>
								<th rowspan="2">10평 ~ 15평</th>
								<td rowspan="2">원/투룸</td>
								<td height="30" class="lh-30">2명 이하</td>
								<td height="30" class="lh-30">2대</td>
							</tr>
							<tr>
								<td height="30" class="lh-30">3명 ~ 4명</td>
								<td height="30" class="lh-30">3대</td>
							</tr>
							<tr>
								<th rowspan="2">16평 ~ 20평</th>
								<td rowspan="2">주택/아파트</td>
								<td height="30" class="lh-30">2명 이하</td>
								<td height="30" class="lh-30">3대</td>
							</tr>
							<tr>
								<td height="30" class="lh-30">3명 ~ 4명</td>
								<td height="30" class="lh-30">3대</td>
							</tr>
							<tr>
								<th rowspan="2">21평 ~ 30평</th>
								<td rowspan="2">주택/아파트</td>
								<td height="30" class="lh-30">2명 이하</td>
								<td height="30" class="lh-30">3대</td>
							</tr>
							<tr>
								<td height="30" class="lh-30">3명 ~ 4명</td>
								<td height="30" class="lh-30">4대</td>
							</tr>
						</tbody>
					</table>
					<ul id="before-star" class="column-6">
						<li>오투이사는 홈페이지를 통해 이사표준가격제를 채택하고 있습니다. 적정이사요금의 사전공개로 고객과 정보를 투명하게 공유합니다</li>
						<li>위 기본사양은 오투이사의 직거래서비스를 기반으로 최소의 비용으로 산정되었습니다.</li>
						<li>작업현장(물량의 성격, 거리 등)에 따라 이사비용이 다르게 산출 될 수 있습니다.</li>
					</ul>
					<div class="column-6 ta-center">
						<p class="square-btn type-1"><a href="/sub02/sub02_02_01">실시간 상세 견적받기</a></p>
					</div>
				</div>
				
			</div>






			<% include ./include/footer.ejs %> 



    </div>
    
  </body>
</html>



