<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ./include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ./include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                
                <ul>
                    <!--li ><a href="/sub01/sub01_3_1.asp">부가서비스안내</a></li-->
                    <li class="on"><a href="/sub01/sub01_03_01">청소서비스안내</a></li>
                    <li ><a href="/sub01/sub01_03_02">에어컨서비스안내</a></li>
                </ul>		
                            
            </div>

        </div>


    

    <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">부가서비스</a><a href="#none">부가서비스안내</a>
				</p>

				<div id="title-section">
					<h1>살균 및 소독을 통하여 <span class="fc-turquoise">깨끗한 주거환경</span>으로 <br /><span class="fc-turquoise">개선</span>시켜 드리겠습니다.</h1>
					<p>오투이사에서는 이사시 청소 서비스를 원하시는 고객님들을 위해 청소업체를 안내해 드리고 있습니다.</p>
				</div>
				<div id="content-section">
					<div class="column-6 mgb-20">
						<div class="ta-center radius-10 bg-pink box-1 pd-16">
							<p class="column-4 mg-0 mg-center lh-25 radius-circle fs-16 fc-white" style="background: rgba(0, 0, 0, 0.3);">입주청소</p>
							<p class="fc-666 lh-20 fs-12">신축 건물의 입주전 청소로서 미세먼지,<br />시멘트가루, 페인트, 본드등의 유해물질들을 제거하거나 감소시켜 주거환경을 <br />개선시켜 드리는 청소입니다.</p>
						</div>
						<div class="box-arrow">
						</div>
						<div class="ta-center radius-10 bg-yellow box-1 pd-16">
							<p class="column-4 mg-0 mg-center lh-25 radius-circle fs-16 fc-white" style="background: rgba(0, 0, 0, 0.3);">이사청소</p>
							<p class="fc-666 lh-20 fs-12">이사 하루전 또는 그 이전에 하는<br />청소로서 새집과 달리 거주한 기간동안<br />발생한 찌든때, 기름때, 먼지 등을 제거하고<br />살균소독함으로써 깨끗한 주거환경으로<br />개선시켜 드리는 청소입니다.</p>
						</div>
						<div class="box-arrow">
						</div>
						<div class="ta-center radius-10 bg-light-blue box-1 pd-16">
							<p class="column-4 mg-0 mg-center lh-25 radius-circle fs-16 fc-white" style="background: rgba(0, 0, 0, 0.3);">거주청소</p>
							<p class="fc-666 lh-20 fs-12">현재 거주하고 있는 상태에서 실시하는<br />대청소입니다. 거주한 기간동안 발생ㅅ한<br />각종 때와 먼지등을 제거하고 살균 소독<br />하는 청소로서 집안의 짐을 이사하지<br />않고 제자리에 둔 상태에서 청소합니다.</p>
						</div>
					</div>
					<div class="column-6 mgb-20">
						<div class="division-1">
							전문 청소서비스
						</div>
						<ul class="column-6 ta-center fc-888">
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_01.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">01.</p>
								<p class="fs-12 lh-20">쓰레기 수거 후 강력<br />청소기를 이용한 1차<br />진공작업</p>
							</li>
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_02.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">02.</p>
								<p class="fs-12 lh-20">베란다 샷시틀<br />및 유리창 청소</p>
							</li>
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_03.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">03.</p>
								<p class="fs-12 lh-20">베란다 바닥청소</p>
							</li>
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_04.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">04.</p>
								<p class="fs-12 lh-20">각방 창틀 및<br />유리창 청소</p>
							</li>
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_05.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">05.</p>
								<p class="fs-12 lh-20">씽크대 내외부, 렌지후드,<br />다용도실, 화장실청소</p>
							</li>
							</ul>
							<ul class="column-6 ta-center fc-888">
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_06.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">06.</p>
								<p class="fs-12 lh-20">각방 바닥 및<br />거실바닥 청소</p>
							</li>
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_07.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">07.</p>
								<p class="fs-12 lh-20">각방 출입문 붙박이장,<br />스위치, 전등 청소</p>
							</li>
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_08.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">08.</p>
								<p class="fs-12 lh-20">2차 진공청소기<br />잔유물 제거 작업</p>
							</li>
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_09.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">09.</p>
								<p class="fs-12 lh-20">현관, 출입문,<br />신발장 청소</p>
							</li>
							<li style="width:20%; float:left;">
								<p class="mgb-15"><img src="/images/icon/service2_10.png" /></p>
								<p class="fs-14 fw-500 fc-555 mg-0">10.</p>
								<p class="fs-12 lh-20">화장실, 씽크대,<br />하수구 등 약품살균<br />및 고온 스팀살균</p>
							</li>
						</ul>
					</div>
					<div class="column-6 mgb-35" style="height: 1px; min-height: 1px; background: #d8d8d8;"></div>
					<div class="column-6 ta-center">
						<p class="square-btn type-1"><a href="/sub02/sub02_3_2.asp">청소 서비스 신청하기</a></p>
					</div>
				</div>
				
			</div>










			<% include ./include/footer.ejs %> 



    </div>
    
  </body>
</html>



