<div id="footer">
        
        <div class="faily_wrap">
        <ul class="family">
            <li class="a"><a href="https://www.o2village.net/" target="_blank">오투빌리지</a></li>
            <li class="b"><a href="http://www.o2bang.co.kr/" target="_blank">오투방</a></li>
            <li class="c"><a href="http://www.o2build.co.kr/" target="_blank">오투건축</a></li>
            <li class="d"><a href="http://www.o2move.co.kr/" target="_blank">오투이사</a></li>
            <li class="e"><a href="http://www.o2ad.co.kr/" target="_blank">오투광고</a></li>
            <!-- <li class="f"><a href="http://www.15774024.com" target="_blank">1577포장이사</a></li>
            <li class="g"><a href="http://오투이사.mn/" target="_blank">KGB MGL(몽골)</a></li>
            <li class="h"><a href="http://www.kgbls.mn/" target="_blank">KGB TEGBE(몽골)</a></li> -->
            <!--li class="i"><a href="http://www.kgbmall.mn/" target="_blank">KGB MALL(몽골)</a></li-->
        </ul>
        </div>
            <ul class="menu">
                <li><a href="/owner">소사장</a></li>
            </ul>
        <!-- <ul class="menu">
            <li><a href="/sub07/sub07_1_1.asp">회사소개</a></li>
            <li><a href="/sub07/sub07_3_1.asp">홍보센터</a></li>
            <li><a href="/sub07/sub07_4_1.asp">이용약관</a></li>
            <li><a href="/sub07/sub07_4_2.asp">개인정보처리방침</a></li>
            <li><a href="/sub03/sub03_4_1.asp">소사장모집안내</a></li>
            <li><a href="http://mis.kgb.co.kr/" target="_blank">소사장로그인</a></li>
            <li><a href="http://www.kgb.co.kr/sub7/" target="_blank">사이버 신문고</a></li>
        </ul> -->
        <!-- <ul class="sns">
            <li><a href="https://www.facebook.com/%EC%98%88%EC%8A%A42404-162594137582358/" target="_blank"><img src="/images/icon/ico_facebook.png" height="36" /></a></li>
            <li><a href="https://twitter.com/오투이사story" target="_blank"><img src="/images/icon/ico_twit.png" height="36" /></a></li>
            <li><a href="https://www.instagram.com/오투이사story/" target="_blank"><img src="/images/icon/ico_insta.png" height="36" /></a></li>
            <li><a href="https://www.youtube.com/channel/UCdWLYxQAc11-ke5-1Cu-jZw" target="_blank"><img src="/images/icon/ico_youtube.png" height="36" /></a></li>															
        </ul> -->
        <!--select title="서비스 선택" id="aa" class="w100">
            <option selected="selected" value="">패밀리사이트</option>
            <option value="">list1</option>
            <option value="">list2</option>
            <option value="">list3</option>
            <option value="">list4</option>
            <option value="">list5</option>
        </select-->
    
        <div class="clear"></div>
    
        <div class="company-info">
            <p>
                전국화물(주)<span class="word-space"></span>책임배차담당:이윤석 부장<span class="word-space"></span>경기도 안산시 단원구 광덕4로 250 (고잔동, 씨티프라자) 302호<span class="word-space"></span>가맹문의:02-926-3301<span class="word-space"></span>팩스:031-486-7333<span class="word-space"></span>메일:ysms0814@naver.com<br />
                <!-- 사업자등록번호:214-87-86364<span class="word-space"></span>통신판매번호:제2004 경기광주 0410호<span class="word-space"></span>국제물류주선업등록번호:제2011 18호<span class="word-space"></span>화물자동차운송주선사업허가번호: 44호 -->
            </p>
        </div>
    
        <div class="clear full-div-line"></div>
    </div>
