<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
	  <div id="content">
		<!-- leftmenu start -->
					<div id="side-nav">
	
			<h3 class="title">화물차량규격표</h3>
			<div class="nav-section">
				<h4 class="on"><a href="/sub06/sub06_01_01">화물차량규격표</a></h4>
				
				<ul>
					<li class="on"><a href="/sub06/sub06_01_01"> 화물차제원</a></li>
					<li><a href="/sub06/sub06_01_02"> 적재함규격표</a></li>
					<li><a href="/sub06/sub06_01_03"> 트럭종류사진</a></li>
				</ul>		
			</div>			
		</div>
		

		

    

 
		<!-- leftmenu end -->			
		<div id="inner-wrap">
			<p id="breadcrumb">
				<a href="#none" class="home">HOME</a><a href="#none">화물차량규격표</a><a href="#none">화물차제원</a>
			</p>

			<div id="content-section">
					<p class="column-6 mg-0 ta-center"><img src="/images/cargo/truck1.png" /></p>
			</div>						
			
		</div>




















		<% include ../include/footer.ejs %> 





    </div>
    
  </body>
</html>



