@media only screen and (min-device-width : 320px) and ( max-device-width : 767px){



/* reset style */
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block;}
html, body, div,  p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, blockquote, pre, button, fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td, iframe, article, aside, canvas, details, embed,
figure, figcaption, header, footer, menu, nav, section, summary, audio, video {margin: 0; padding: 0; border: 0; line-height:inherit;  -webkit-text-size-adjust:none}

body{position:relative;font-size:14px; font-weight:300; line-height:1em;color:#444444;font-family:'Nanum Barun Gothic',sans-serif;}


img{ vertical-align:middle; border:0 none; margin: 0; padding: 0; }
fieldset{border:none;}
figure, figcaption{margin:0;padding:0}
b, strong{ font-weight: 300; }
em, dfn, cite, address{ font-style: normal; }
mark {background-color: #ff0;color: #000;}
small {font-size: 80%;}
sup,sub{position: relative;font-size: .9em;line-height: 0;vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
del{ text-decoration: line-through; }
label{cursor:pointer; vertical-align:middle;}
sub{ font-size:10px;}
sup{ font-size:10px;}

ol, ul, li { list-style:none;}
table, thead, tbody {border-collapse:collapse; border-spacing:0;}
legend {visibility:hidden; width:0;height:0;margin:0;padding:0;background:none; font-size:3px; color:transparent; line-height: 0}
caption {width:0;height:0;margin:0;padding:0;background:none; font-size:3px; color:transparent; line-height: 0}
hr {visibility:hidden; overflow:hidden; position:absolute; height:0; width:0; font-size:0;}

a:link { color:#444444; text-decoration:none; }
a:visited { color:#444444; text-decoration:none; }
a:hover { color:#444444; text-decoration:none; }
a:active { color:#444444; text-decoration:none; }


input{height:35px;line-height:35px; padding:0px 3px; padding-left:12px; margin:0px; border:solid 1px #d3d4d8; font: inherit; color: inherit;vertical-align: middle}
input[type="text"]{ width: 200px;}
input[type="number"]{width: 200px;}
input[type="file"]{padding-left:0;border:none}
input[type="submit"]{height:35px;line-height:35px;background:none;-webkit-border-radius:0; -webkit-appearance:none;}
input[type="radio"]{width:15px;height:15px;border:none; padding:0px;}
input[type="checkbox"]{width:15px;height:15px;border:none; padding:0px;}
button{text-transform: none;vertical-align: middle}
button,[type="button"],[type="reset"],[type="submit"] {cursor: pointer;background:none;-webkit-border-radius:0; -webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0; }
select{height:35px;line-height:35px;padding:1px 3px; padding-left:2px; border:solid 1px #d3d4d8;font: inherit; color: inherit; background:#fff; vertical-align: middle;}
select optgroup{}
select optgroup option{}
textarea{line-height:25px;padding:1px 3px; padding-left:12px; border:solid 1px #d3d4d8;font: inherit; color: inherit;vertical-align: middle;resize: none;}
input[disabled="disabled"]{background:#f5f6f7;color:#999999}
select[disabled="disabled"]{background:#f5f6f7;color:#999999}
input[type=text]::-ms-clear{display:none;}

/*MOBILE Css*/
@media screen and (max-width:640px){
input{height:34px;line-height:34px;}
input[type="submit"]{height:34px;line-height:34px;}
select{height:34px;line-height:34px;}
}

.focused { outline:1px solid #3a73db; /*outline: -webkit-focus-ring-color auto 5px; */}
.clearfix {display: block;}
.clearfix:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}


.clear {clear:both;}
.hide {display:none;}
.skip { position:absolute; overflow:hidden; height:0; width:0; font-size:0; text-indent:-9999px;}



/*********************   style ***************************/
.float_L{ float:left;}
.float_R{ float:right;}
.float_none{ float:none !important;}

.mg_none{ margin:0px !important;}
.pd_none{ padding:0px !important;}

.bg_none{ background:none !important;}

.bdr_none{ border:none !important;}
.bdr_T_none{ border-top:none !important;} 
.bdr_B_none{ border-bottom:none !important;}
.bdr_L_none{ border-left:none !important;}
.bdr_R_none{ border-right:none !important;}


.dsp_block{ display:block !important;}
.dsp_inline_block{ display:inline-block !important;}



hr.hairLine{     
	display: block;
	border:none;
    margin:0px;
    border-top: 1px solid #000000;	
}
.hairLine.bdr_w1{ border-width:1px;}
.hairLine.bdr_w2{ border-width:2px;}
.hairLine.bdr_w3{ border-width:3px;}
.hairLine.bdr_w4{ border-width:4px;}
.hairLine.bdr_w5{ border-width:5px;}
.hairLine.bdr_w6{ border-width:6px;}
.hairLine.bdr_w7{ border-width:7px;}
.hairLine.bdr_w8{ border-width:8px;}
.hairLine.bdr_w9{ border-width:9px;}
.hairLine.bdr_w10{ border-width:10px;}

/* ?°íŠ¸?¬ì´ì¦?*/
.fs_8{font-size:8px !important;}
.fs_9{font-size:9px !important;}
.fs_10{font-size:10px !important;}
.fs_11{font-size:11px !important;}
.fs_12{font-size:12px !important;}
.fs_13{font-size:13px !important;}
.fs_14{font-size:14px !important;}
.fs_15{font-size:15px !important;}
.fs_16{font-size:16px !important;}
.fs_17{font-size:17px !important;}
.fs_18{font-size:18px !important;}
.fs_19{font-size:19px !important;}
.fs_20{font-size:20px !important;}
.fs_22{font-size:22px !important;}
.fs_24{font-size:24px !important;}
.fs_26{font-size:26px !important;}
.fs_28{font-size:28px !important;}
.fs_30{font-size:30px !important;}
.fs_32{font-size:32px !important;}
.fs_34{font-size:34px !important;}
.fs_36{font-size:36px !important;}
.fs_38{font-size:38px !important;}
.fs_40{font-size:40px !important;}
.fs_42{font-size:42px !important;}
.fs_44{font-size:44px !important;}


.fw_300{ font-weight:300 !important;}
.fw_400{ font-weight:400 !important;}
.fw_500{ font-weight:500 !important;}
.fw_normal{ font-weight:normal !important;}


/* ?°íŠ¸?‰ìƒ */
.tc_blue{ color:#3a73db !important; line-height:20px; }
.tc_red {color:#f46534 !important}
.tc_puple {color:#f46534 !important}


/*?•ë ¬*/
.ta_C{ text-align:center !important;}
.ta_L{ text-align:left !important;}
.ta_R{ text-align:right !important;}


/*width*/
.w_auto{ width:auto !important;}
.w_0{ width:0px !important;}
.w_2{ width:2px !important;}
.w_4{ width:4px !important;}
.w_6{ width:6px !important;}
.w_8{ width:8px !important;}
.w_10{ width:10px !important;}
.w_12{ width:12px !important;}
.w_14{ width:14px !important;}
.w_16{ width:16px !important;}
.w_18{ width:18px !important;}
.w_20{ width:20px !important;}
.w_30{ width:30px !important;}
.w_40{ width:40px !important;}
.w_50{ width:50px !important;}
.w_60{ width:60px !important;}
.w_70{ width:70px !important;}
.w_80{ width:80px !important;}
.w_90{ width:90px !important;}
.w_100{ width:100px !important;}
.w_110{ width:110px !important;}
.w_120{ width:120px !important;}
.w_130{ width:130px !important;}
.w_140{ width:140px !important;}
.w_150{ width:150px !important;}
.w_160{ width:160px !important;}
.w_170{ width:140px !important;}
.w_180{ width:180px !important;}
.w_190{ width:190px !important;}
.w_200{ width:200px !important;}
.w_300{ width:300px !important;}
.w_400{ width:400px !important;}
.w_500{ width:500px !important;}
.w_600{ width:600px !important;}
.w_700{ width:700px !important;}
.w_800{ width:800px !important;}
.w_900{ width:900px !important;}
.w_1000{ width:1000px !important;}



/*padding*/

.pdT_none{ padding-top:0px !important;}
.pdT_2{ padding-top:2px !important;}
.pdT_4{ padding-top:4px !important;}
.pdT_6{ padding-top:6px !important;}
.pdT_8{ padding-top:8px !important;}
.pdT_10{ padding-top:10px !important;}
.pdT_12{ padding-top:12px !important;}
.pdT_14{ padding-top:14px !important;}
.pdT_16{ padding-top:16px !important;}
.pdT_18{ padding-top:18px !important;}
.pdT_20{ padding-top:20px !important;}
.pdT_30{ padding-top:30px !important;}
.pdT_40{ padding-top:40px !important;}
.pdT_50{ padding-top:50px !important;}
.pdT_60{ padding-top:60px !important;}
.pdT_70{ padding-top:70px !important;}
.pdT_80{ padding-top:80px !important;}
.pdT_90{ padding-top:90px !important;}
.pdT_100{ padding-top:100px !important;}
.pdT_110{ padding-top:110px !important;}
.pdT_120{ padding-top:120px !important;}


.pdB_none{ padding-bottom:0px !important;}
.pdB_2{ padding-bottom:2px !important;}
.pdB_4{ padding-bottom:4px !important;}
.pdB_6{ padding-bottom:6px !important;}
.pdB_8{ padding-bottom:8px !important;}
.pdB_10{ padding-bottom:10px !important;}
.pdB_12{ padding-bottom:12px !important;}
.pdB_14{ padding-bottom:14px !important;}
.pdB_16{ padding-bottom:16px !important;}
.pdB_18{ padding-bottom:18px !important;}
.pdB_20{ padding-bottom:20px !important;}
.pdB_30{ padding-bottom:30px !important;}
.pdB_40{ padding-bottom:40px !important;}
.pdB_50{ padding-bottom:50px !important;}
.pdB_60{ padding-bottom:60px !important;}
.pdB_70{ padding-bottom:70px !important;}
.pdB_80{ padding-bottom:80px !important;}
.pdB_90{ padding-bottom:90px !important;}
.pdB_100{ padding-bottom:100px !important;}
.pdB_110{ padding-bottom:110px !important;}
.pdB_120{ padding-bottom:120px !important;}


.pdL_none{ padding-left:0px !important;}
.pdL_2{ padding-left:2px !important;}
.pdL_4{ padding-left:4px !important;}
.pdL_6{ padding-left:6px !important;}
.pdL_8{ padding-left:8px !important;}
.pdL_10{ padding-left:10px !important;}
.pdL_12{ padding-left:12px !important;}
.pdL_14{ padding-left:14px !important;}
.pdL_16{ padding-left:16px !important;}
.pdL_18{ padding-left:18px !important;}
.pdL_20{ padding-left:20px !important;}
.pdL_30{ padding-left:30px !important;}
.pdL_40{ padding-left:40px !important;}
.pdL_50{ padding-left:50px !important;}
.pdL_60{ padding-left:60px !important;}
.pdL_70{ padding-left:70px !important;}
.pdL_80{ padding-left:80px !important;}
.pdL_90{ padding-left:90px !important;}
.pdL_100{ padding-left:100px !important;}
.pdL_110{ padding-left:110px !important;}
.pdL_120{ padding-left:120px !important;}


.pdR_none{ padding-right:0px !important;}
.pdR_2{ padding-right:2px !important;}
.pdR_4{ padding-right:4px !important;}
.pdR_6{ padding-right:6px !important;}
.pdR_8{ padding-right:8px !important;}
.pdR_10{ padding-right:10px !important;}
.pdR_12{ padding-right:12px !important;}
.pdR_14{ padding-right:14px !important;}
.pdR_16{ padding-right:16px !important;}
.pdR_18{ padding-right:18px !important;}
.pdR_20{ padding-right:20px !important;}
.pdR_30{ padding-right:30px !important;}
.pdR_40{ padding-right:40px !important;}
.pdR_50{ padding-right:50px !important;}
.pdR_60{ padding-right:60px !important;}
.pdR_70{ padding-right:70px !important;}
.pdR_80{ padding-right:80px !important;}
.pdR_90{ padding-right:90px !important;}
.pdR_100{ padding-right:100px !important;}
.pdR_110{ padding-right:110px !important;}
.pdR_120{ padding-right:120px !important;}

	

/*margin*/

.mgT_none{ margin-top:0px !important;}
.mgT_2{ margin-top:2px !important;}
.mgT_4{ margin-top:4px !important;}
.mgT_6{ margin-top:6px !important;}
.mgT_8{ margin-top:8px !important;}
.mgT_10{ margin-top:10px !important;}
.mgT_12{ margin-top:12px !important;}
.mgT_14{ margin-top:14px !important;}
.mgT_16{ margin-top:16px !important;}
.mgT_18{ margin-top:18px !important;}
.mgT_20{ margin-top:20px !important;}
.mgT_30{ margin-top:30px !important;}
.mgT_40{ margin-top:40px !important;}
.mgT_50{ margin-top:50px !important;}
.mgT_60{ margin-top:60px !important;}
.mgT_70{ margin-top:70px !important;}
.mgT_80{ margin-top:80px !important;}
.mgT_90{ margin-top:90px !important;}
.mgT_100{ margin-top:100px !important;}
.mgT_110{ margin-top:110px !important;}
.mgT_120{ margin-top:120px !important;}


.mgB_none{ margin-bottom:0px !important;}
.mgB_2{ margin-bottom:2px !important;}
.mgB_4{ margin-bottom:4px !important;}
.mgB_6{ margin-bottom:6px !important;}
.mgB_8{ margin-bottom:8px !important;}
.mgB_10{ margin-bottom:10px !important;}
.mgB_12{ margin-bottom:12px !important;}
.mgB_14{ margin-bottom:14px !important;}
.mgB_16{ margin-bottom:16px !important;}
.mgB_18{ margin-bottom:18px !important;}
.mgB_20{ margin-bottom:20px !important;}
.mgB_30{ margin-bottom:30px !important;}
.mgB_40{ margin-bottom:40px !important;}
.mgB_50{ margin-bottom:50px !important;}
.mgB_60{ margin-bottom:60px !important;}
.mgB_70{ margin-bottom:70px !important;}
.mgB_80{ margin-bottom:80px !important;}
.mgB_90{ margin-bottom:90px !important;}
.mgB_100{ margin-bottom:100px !important;}
.mgB_110{ margin-bottom:110px !important;}
.mgB_120{ margin-bottom:120px !important;}


.mgL_none{ margin-left:0px !important;}
.mgL_2{ margin-left:2px !important;}
.mgL_4{ margin-left:4px !important;}
.mgL_6{ margin-left:6px !important;}
.mgL_8{ margin-left:8px !important;}
.mgL_10{ margin-left:10px !important;}
.mgL_12{ margin-left:12px !important;}
.mgL_14{ margin-left:14px !important;}
.mgL_16{ margin-left:16px !important;}
.mgL_18{ margin-left:18px !important;}
.mgL_20{ margin-left:20px !important;}
.mgL_30{ margin-left:30px !important;}
.mgL_40{ margin-left:40px !important;}
.mgL_50{ margin-left:50px !important;}
.mgL_60{ margin-left:60px !important;}
.mgL_70{ margin-left:70px !important;}
.mgL_80{ margin-left:80px !important;}
.mgL_90{ margin-left:90px !important;}
.mgL_100{ margin-left:100px !important;}
.mgL_110{ margin-left:110px !important;}
.mgL_120{ margin-left:120px !important;}


.mgR_none{ margin-right:0px !important;}
.mgR_2{ margin-right:2px !important;}
.mgR_4{ margin-right:4px !important;}
.mgR_6{ margin-right:6px !important;}
.mgR_8{ margin-right:8px !important;}
.mgR_10{ margin-right:10px !important;}
.mgR_12{ margin-right:12px !important;}
.mgR_14{ margin-right:14px !important;}
.mgR_16{ margin-right:16px !important;}
.mgR_18{ margin-right:18px !important;}
.mgR_20{ margin-right:20px !important;}
.mgR_30{ margin-right:30px !important;}
.mgR_40{ margin-right:40px !important;}
.mgR_50{ margin-right:50px !important;}
.mgR_60{ margin-right:60px !important;}
.mgR_70{ margin-right:70px !important;}
.mgR_80{ margin-right:80px !important;}
.mgR_90{ margin-right:90px !important;}
.mgR_100{ margin-right:100px !important;}
.mgR_110{ margin-right:110px !important;}
.mgR_120{ margin-right:120px !important;}

}