.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/*
 * Card
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
}

.form-signin #inputID,
.form-signin #inputPwd {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.login-help {
	font-size: 12px;
}

.form-signin input[type=id],
.form-signin input[type=pwd],
.form-signin input[type=text]{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin button{
	margin-top: 10px;
	margin-bottom: 10px;
	background : #40af37;
}
#login-btn:hover{
	background : #147814;	
}
.form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px 
rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 
162);
}


#header .menu {
	position: relative;
	width: 100%;
	height: 68px;
	max-width: 1134px;
	padding-right: 72px;
	margin: 0 auto;
	line-height: 68px;
	background: #fff;
	z-index: 9999;
}
#header .menu:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 182px;
	border-top: 1px solid #008b9e;
	border-bottom: 1px solid #008b9e;
	background: #fff;
	display: none;
}
#header .menu.active:after {
	display: block;
}
#header h1 {
	float: left;
}
#header #sitemap {
	position: absolute;
	top: 0;
	right: 72px;
	width: 72px;
	height: 68px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	background: #40af37;
	cursor: pointer;
}

#header #sitemap:before {
	content: "";
	position: absolute;
	top: 50%;
    left: 50%;
    margin: -10px 0 0 -9px;
	width: 18px;
	height: 15px;
	background: url(/images/img_set.png) -113px 0 no-repeat;
}
#header #sitemap p {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 28px;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
}
#header #sitemap_close {
	display: none;
	position: absolute;
	top: 0;
	right: 72px;
	width: 72px;
	height: 68px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	background: #40af37;
	cursor: pointer;
}
#header #sitemap_close:before {
	content: "";
	position: absolute;
	top: 50%;
    left: 0%;
    margin: -15px 0 0 0px;
	width: 100%;
	height: 23px;
	background: url(/images/icon/ico_close.png) no-repeat center;
}
#header #search_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 72px;
	height: 68px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	background: #40af37;
	cursor: pointer;
}
#header #search_btn:before {
	content: "";
	position: absolute;
	top: 50%;
    left: 0%;
    margin: -15px 0 0 0;
	width: 100%;
	height: 23px;
	background: url(/images/icon/ico_search.png) no-repeat center;
	border-left:1px solid #fff;
}
#header #search_btn p {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 28px;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
}
#header #search_btn_close {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 72px;
	height: 68px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	background: #40af37;
	cursor: pointer;
}
#header #search_btn_close:before {
	content: "";
	position: absolute;
	top: 50%;
    left: 0%;
    margin: -15px 0 0 0;
	width: 100%;
	height: 23px;
	background: url(/images/icon/ico_close.png) no-repeat center;
	border-left:1px solid #fff;
}
#header #search_area {
	position: absolute;
	width: 245px;
	height: 150px;
	right: 0px;
	top: 68px;
	background-color: #fff;
	opacity: 0.9;
	z-index:10;
	line-height:3;	
	display:none;
}

#search_area .lbl_sch {
	font-size : 14pt;
	margin-left:20px;	
}
#search_area .ipt {
	width: 200px;
	height: 30px;
	margin-left:20px;
	padding-left:10px;
	box-sizing:border-box; 
	border:1px solid #d6dadc; background-color:#ffffff;
}
#search_area input[type=button] {
	width: 200px;
	height: 30px;
	margin-left:20px;	
	background-color:#40af37; 
	color:#ffffff; 
	text-align:center;
}
#header ul.depth-1 {
	float: left;
	padding-right: 20px;
}
#header ul.depth-1 > li {
	position: relative;
	float: left;
	height: 68px;
	padding: 0 25px;
}
#header ul.depth-1 > li:after {
	content: "";
	position: absolute;
	right: -1px;
	top: 50%;
	width: 1px;
	height: 14px;
	margin-top: -7px;
	background: #b0b0b0;
}
#header ul.depth-1 > li:last-child:after {
	content: none;
}
#header ul.depth-1 > li > a {
	color: #404040;
	font-size: 15px;
	letter-spacing: -0.09em;
}
#header ul.depth-2 {
	position: absolute;
	top: 100%;
	height: 175px;
	padding-top: 8px;
	line-height: 31px;
	z-index: 100;
	white-space: nowrap;
	display: none;
}
#header ul.depth-1 li:hover > ul.depth-2, #header ul.depth-1 li.active > ul.depth-2 {
	display: block;
}
#header .depth-1 .menu01 {
	margin-left: 0px;
}
#header .depth-1 .menu02 {
	margin-left: -120px;
}
#header .depth-1 .menu03 {
	margin-left: -257px;
}
#header .depth-1 .menu04 {
	margin-left: -373px;
}
#header .depth-1 .menu05 {
	margin-left: -490px;
}
#header .depth-1 .menu06 {
	margin-left: -594px;
}
#header .depth-1 .menu07 {
	margin-left: -714px;
}
#header ul.depth-2:after {
	content: "";
	display: block;
	clear: both;
}
#header ul.depth-2 > li {
	position: relative;
	display: inline-block;
	margin-right: 50px;
	font-size: 15px;
	width: 150px;
	border-bottom:1px solid #40af37;
}
#header ul.depth-2 > li > a {
	position: relative;
	display: inline-block;
	color: #777;
}
#header ul.depth-2 > li > a:after {
	content: "";
	position: absolute;
	right: -1px;
	top: 50%;
	width: 1px;
	height: 10px;
	margin-top: -5px;
	background: rgba(255, 255, 255, .7);
}
#header ul.depth-3 {
	position: absolute;
	line-height: 19px;
	padding-right:20px;
}
#header ul.depth-3 > li a {
	font-size: 13px;
	color: #989898;
}
#header ul > li:hover > a,
#header ul > li.active > a {
	font-weight: bold;
	color: #40af37;
}
#header .sitemap {
	position: relative;
	width: 100%;
	max-width: 1206px;
	padding: 98px 0;
	margin: 0 auto;
	background: #fff;
	z-index: 99999;
	height:500px;
	overflow: auto;
}
#header .sitemap > li {
	clear: both;
	display: inline-block;
	width: 100%;
}
#header .sitemap > li > a {
	position: relative;
	float: left;
	width: 166px;
	padding-left: 32px;
	margin-left: 85px;
	font-size: 24px;
	line-height: 24px;
}
#header .sitemap > li > a:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(../../images/img_set.png) -132px 0 no-repeat;
}
#header .sitemap > li > a:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 39px;
	background: #ccc;
}
#header .sitemap > li:hover > a, #header .sitemap > li.active > a {
	font-weight: normal;
	color: #333;
}
#header .sitemap ul.depth-2 {
	position: static;
	display: block;
	float: left;
	height: auto;
	padding: 0 0 48px 52px;
	margin-left: 20px;
	line-height: 24px;
}
#header .sitemap ul.depth-2 > li {
	min-width: 137px;
	margin-right: 50px !important;
	vertical-align: top;
	border-bottom:0 !important;
}
#header .sitemap ul.depth-2 > li.hide {
	display: none;
}
#header .sitemap ul.depth-2 > li:last-child {
	padding-right: 0 !important;
}
#header .sitemap li:first-child ul.depth-2 > li {
	min-width: auto;
}
#header .sitemap ul.depth-2 > li:first-child {
	padding-left: 20px;
}
#header .sitemap li:first-child ul.depth-2 > li:first-child {
	min-width: 137px;
}
#header .sitemap ul.depth-2 > li > a {
	padding-bottom: 10px;
}
#header .sitemap ul.depth-3 {
	position: static;
	line-height: 21px;
}
#header .sitemap ul li:hover a, #header .sitemap ul li.active a {
	font-weight: normal;
}
.nav > li{
    position: relative;
    float: left;
    height: 68px;
    padding: 0 25px;
}

.nav > li > a{
    color: #404040;
    font-size: 15px;
    letter-spacing: -0.09em;
    margin-top:10px;
}

.login-help > p > a {
    color:#40af37;
}

