<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-04">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
	  <div id="content">
			<!-- leftmenu start -->
						<div id="side-nav">
	
				<h3 class="title">고객센터</h3>
				<div class="nav-section">
					<h4 ><a href="/sub04/sub04_01_01">고객문의</a></h4>
						
				</div>
				<div class="nav-section">
					<h4 class="on"><a href="/sub04/sub04_02_01">A/S</a></h4>
					
					<ul>
						<li><a href="/sub04/sub04_02_01">A/S 보상규정</a></li>
						<li class="on"><a href="/sub04/sub04_02_02">A/S 안내</a></li>
						<li ><a href="/sub04/sub04_02_03">A/S 신청</a></li>					
					</ul>
						
				</div>
				<div class="nav-section">
					<h4 ><a href="/sub04/sub04_03_01">오투이사에 바란다</a></h4>
				</div>
	
			</div>
	
		



    

 
		<!-- leftmenu end -->			
		<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">고객센터</a><a href="#none">A/S</a><a href="#none">A/S 안내</a>
				</p>

			<div id="content-section">
				<div class="division-1">
					이사 후 A/S는 쉽게 발생할 수 있습니다.
				</div>
				<p style="color:#9b9a9a; font-weight:300; margin:10px 0;">
					A/S발생 요인은 아주 많습니다.<br />
					그동안 고장인지 모르고 있다가 이사 후 안된다든지 하는것 부터 작업도중 작업자의 실수로 파손이 생기는 경우, 이동시 도로의 여건에 따라 파손이 되는 경우 등...<br />
					이사의 끝은 A/S라는 프로정신으로 A/S에도 최선을 다하는 오투이사가 되겠습니다.<br />
					A/S발생시 물품을 촬영 후 내용과 함께 이미지를 첨부해주시면 판정에 많은 도움이 되오니 많은 이용바랍니다.<br />
				</p>
				<div class="division-1">
					A/S 신청 및 처리절차
				</div>
				<p style="color:#9b9a9a; font-weight:300; margin:10px 0;">
					<img src="/images/AS_process.png" alt=""/>
				</p>
			</div>													
				
			</div>



				



























			<% include ../include/footer.ejs %> 




    </div>
    
  </body>
</html>

