<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">고객센터</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub04/sub04_01_01">고객문의</a></h4>
                
                <ul>
                    <li><a href="/sub04/sub04_01_01">계약여부 문의</a></li>
                    <li><a href="/sub04/sub04_01_02">방문견적 변경/취소</a></li>
                    <li><a href="/sub04/sub04_01_03">현금영수증 문의</a></li>
                    <li class="on" ><a href="/sub05/sub04_01_04">기타 고객문의</a></li>
                </ul>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub04/sub04_02_01">A/S</a></h4>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub04/sub04_03_01">오투이사에 바란다</a></h4>
            </div>

        </div>
		



		<script language="javascript">
			
			function writer()
			{
				var title = $('#title').val();
           		var content = $('#content').val();
            	var writer = $('#writer').val();
				var password = $('#password').val();
				var phone = $('phone').val();
				var chk
				chk = confirm("입력하시겠습니까?");
				if(chk)
				{
					if(!document.formname.chkinfo[0].checked)
					{
						alert("개인정보정책에 동의하셔야 서비스이용 가능합니다.");
					}
					else if (check_blank(document.formname.writer.value) == false)
					{
						alert ("작성자를 입력해 주세요.");
						document.formname.writer.focus();
					}
					else if (check_blank(document.formname.password.value) == false)
					{
						alert ("비밀번호를 입력해 주세요.");
						document.formname.password.focus();
					}
					else if (check_blank(document.formname.title.value) == false)
					{
						alert ("제목을 입력해 주세요.");
						document.formname.title.focus();
					}
					//jjs 20130411
					else if (check_blank(document.formname.content.value) == false)
					{
						alert ("내용을 입력해 주세요.");
						document.formname.content.focus();
					}
					//jje 20130411
					// else
					// {
					//   window.name = "";
					//   document.form_chk.target = "";
					// 	 document.formname.targete="iframe_proc";
					// 	document.formname.action="board_write.asp";
					// 	document.formname.submit();
					// }
					else{
						// $('#writeAction').submit();
					document.formname.action = "/sub04/sub04_01_04?mode=add";
					
					document.formname.submit();
				}

				}
			}
			
			function check_blank(checkStr)
			{
				var str_len = 0
				for (var i=0;i < checkStr.length; i++)
				{
						var str_temp = checkStr;
						if (str_temp.substring(i,i+1) != ' ')
								str_len=str_len+1;
								if (str_len != 0)
								{
									return (true);
									break;
								}
				}
				return (false);
			}
			
		
		</script>

			
    

 



	<!-- leftmenu end -->			
	<div id="inner-wrap">
		<p id="breadcrumb">
			<a href="#none" class="home">HOME</a><a href="#none">고객센터</a><a href="#none">고객문의</a><a href="#none">계약여부 문의</a>
		</p>
		<style>
		.reg_form {font-size:13px;}
		.reg_form dl {overflow:hidden; border-top:1px solid #ccc; width:100%; padding:5px;}
		.reg_form dl:last-child {border-bottom:1px solid #ccc;}
		.reg_form dt,dd {float:left; height:40px; line-height:40px;}
		.reg_form dt {width:80px; padding:0 20px;}
		.reg_form .hyphen {padding:0 5px; color:#666;}
		.reg_form input, .reg_form select {border:1px solid #ccc; padding:5px; height:20px;}
		</style>
		<div class="search_form">
			<p style="float:left; width:40%; height:25px; padding-left:10px; text-align:left; font-size:20px; font-weight:500; color:#00a3b4; border-left: 3px solid #00a3b4;">계약여부 문의</p>
		</div>
		<dl class="column-6 pdb-10 radius-10 bg-blue fs-13 fc-white mgb-15" style="padding-bottom:20px; margin-top:20px;">
			<dt class="pdlr-30 mgb-15 lh-50 fs-15 bg-dark-blue">게시판 운영원칙</dt>
			<dd style="padding:0 30px; font-weight:300;width:90%;height:150px;line-height:25px;">
			타인의 명예를 훼손하거나 개인정보를 유출하는 등 법률에 위반되는 글은 게시판에 등록할 수 없으며, 등록시 게시물에 대한 민형사상의 책임은 등록자에게 있습니다. <br><br>
			게시판에 적합하지 않은 게시물에 대해서는 운영자에 의해 삭제될 수 있으며, 고객센터의 해당 메뉴인 고객문의(계약여부 문의, 방문견적 변경/취소, 현금영수증 문의, 기타 고객문의), 고객평가(칭찬하기, 꾸중하기), A/S(A/S 신청), 오투이사에 바란다에 각각 적합하게 등록하여 주시기 바랍니다. 
			</dd>
		</dl>					
		<div class="reg_form">
		<form name="formname" method="post" id="writeAction">
			<!-- <input type="hidden" name="code_board" value="계약여부문의">
			<input type="hidden" name="jumin" value="">						 -->
			<dl>
				<dt>고객명</dt>
				<dd>
					<dd><input type="text" id="writer" name="writer" style="width:140px;"></dd>
				<!-- <input type="text" name="custname" style="width:140px;" readonly onclick="fnPopup();"/>
				<a href="javascript:fnPopup();" class="square-btn type-cert">SMS인증</a>&nbsp<a href="javascript:fnPopup_ipin();" class="square-btn type-cert">IPIN인증</a>
				&nbsp;* 인증창이 뜨지 않으면 브라우저의 팝업차단을 해제해주세요. -->

				</dd>
			</dl>
			<dl>
				<dt>전화번호</dt>
				<dd>
					<input type="text" style="width:53px;" name="tel1" maxlength="5"><span class="hyphen">-</span>
					<input type="text" style="width:53px;" name="tel2" maxlength="4"><span class="hyphen">-</span>
					<input type="text" style="width:53px;" name="tel3" maxlength="4">
				</dd>
			</dl>
			<dl>
				<dt>비밀번호</dt>
				<dd><input type="password" id="password" name="password" style="width:140px;"></dd>
			</dl>
			<dl>
				<dt>제목</dt>
				<dd><input type="text" id="title" name="title" style="width:665px;"></dd>
			</dl>
			<dl>
				<dt>내용</dt>
				<textarea name="content" id="content" style="overlow-x:scroll; width:665px; border:1px solid #ccc; padding:5px; height:200px; margin:5px 0;"></textarea>
			</dl>
			<dl class="column-6 pdb-10 radius-10 fs-13 mgb-15 rep_border_gst ta-center">
				<IFRAME name=ifrmsil src="/include/policy" frameborder=0 width="800" height=150 vspace=0 hspace=0 framespacing=0></IFRAME><br/>
				개인정보보호정책에 동의하십니까? <input type="radio" name="chkinfo" value="1" style="vertical-align:middle;">예 <input type="radio" name="chkinfo" value="0" style="vertical-align:middle;">아니오
			</dl>					
		</form>
		</div>
		<p style="text-align:center; padding:20px;"><a href="javascript:writer();"><img src="/images/reg_btn.gif"></a></p>
</div>


				



























<% include ../include/footer.ejs %> 




    </div>
    
  </body>
</html>



