<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li class="on"><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li ><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li ><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li ><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li ><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li ><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">집내놓기</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}
				</style>
								<div class="con_nav">
					<ul>
						<li class="on"><a href="sub03_02_01">집내놓기</a></li>
						<li ><a href="sub03_02_02">부동산계약서</a></li>
						<li ><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li ><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li ><a href="sub03_02_05">이사업체선정</a></li>
						<li ><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						집 내놓기 / 3~4개월전
					</div>
					<p class="fs-12 fc-888" style="margin: 0 0 10px;">사전 집주인과 상의하여 부동산 업소 및 관련 사이트에 올립니다.<br />고지 없이 이사 집 계약을 먼저 할 경우 집주인 사정에 따라 전세금 반환 등 차질을 빚을 수 있습니다.<br/> 충분한 기간을 갖고 설정하는 것이 실수를 막을 수 있습니다.<br/><br/>* 오투이사는 오투이사 계약고객에 한하여 전국부동산 중개사이트 오투방에 관련정보를 무료로 올려드립니다</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						이사집 찾기 / 2~3개월전
					</div>
					<p class="fs-12 fc-888" style="margin: 0 0 10px;">계획된 이삿날을 기점으로 최소 2개월 전부터 이사할 집을 알아보는 것이 좋습니다.<br />짧은 기간을 두고 살집을 알아볼 경우 지금 살고 있는 집이 나가지 않으면 큰 낭패를 볼 수 있습니다.<br /><br/>* 오투이사는 오투이사 계약 고객에 한하여 전국 부동산 중개 사이트 오투방을 통해 중개 수수료 20% 할인으로 살집을 찾을 수 있는 혜택을 드립니다. </p>
				</div>
				<div id="content-section">
					<div class="division-1">
						좋은집 고르기
					</div>
					<p class="fs-12 fc-888" style="margin: 0 0 10px;">
						1. 등기부 등본상 권리관계의 문제가 없어야 합니다.<br />
						2. 신축한 집의 경우 새집 증후군이 없어야 합니다.<br />
						3. 주변의 입지여건을 고려해야 합니다.<br />자녀가 있을 경우 교육여건을 고려해야 하고, 교통이 좋아야 하며, 시장이나 마트의 연계성이 좋아야하며, 아파트경우 단지수가 많은곳을 선택하는 것이 좋습니다.
					</p>
					<div class="column-6 ta-center" style="margin-top:100px;">
						<p class="square-btn type-1"><a href="/sub02/sub02_02_01">실시간 상세 견적받기</a></p>
					</div>
				</div>						
				</div>
			</div>





















			<% include ../include/footer.ejs %> 





    </div>
    
  </body>
</html>



