
<html><head><title>일정별체크리스트</title>
    <link href="/stylesheets/common.css" rel="stylesheet"></head>
    <style>
    .con33_table {border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; width:100%; text-align:center; letter-spacing:-0.5px;}
    .con33_table th,td {border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; height:30px; padding:0 10px;}
    .con33_table thead th {background:#40af37; color:#fff; font-weight:normal;}
    .con33_table tbody td {color:#7d7d7d; font-weight:normal; padding-left:5px;}
    .con33_table tbody td img {vertical-align:middle;}				
    .con33_table tbody th {background:#40af37; color:#fff; font-weight:normal; width:100px;}
    .con33_table .la {text-align:left;}
    .con33_table .la2 {text-align:left; padding:0 30px;}				
    </style>
    <script language="javascript">
    function Preview()
    {
    window.print();
    }
    </script>
    <body onLoad="Preview();">
                
                    <style>
                    .con33_table {border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; width:100%; text-align:center; letter-spacing:-0.5px;}
                    .con33_table th,td {border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; height:30px; padding:0 10px;}
                    .con33_table thead th {background:#40af37; color:#fff; font-weight:normal;}
                    .con33_table tbody td {color:#7d7d7d; font-weight:normal; padding-left:5px;}
                    .con33_table tbody td img {vertical-align:middle;}				
                    .con33_table tbody th {background:#40af37; color:#fff; font-weight:normal; width:100px;}
                    .con33_table .la {text-align:left;}
                    .con33_table .la2 {text-align:left; padding:0 30px;}				
                    </style>
                    <div id="content-section">
                        <div class="division-1">
                            오투이사 일정별 체크리스트(인쇄후 체크하시기 바랍니다)
                        </div>
                        <p class="fs-14 fc-888" style="margin: 0 0 10px;">
                            <table border="0" cellpadding="0" cellspacing="0" class="con33_table">	
                                <colgroup>
                                    <col width="7%">
                                    <col width="7%">								
                                    <col width="*">
                                    <col width="15%">
                                    <col width="6%">																								
                                </colgroup>
                                <tbody>	
                                    <tr>		
                                        <th colspan="2">일정</th>
                                        <th>준비해야할 일</th>
                                        <th>관할기관</th>
                                        <th>체크</th>																											
                                    </tr>
                                    <tr>
                                        <td rowspan="6" colspan="2">이사일확정</td>
                                        <td align="left">불필요한 물품정리</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이사업체 선정 후 이사화물운송계약 체결</td>
                                        <td>이사대행업체</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이사할 집 답사, 수리의뢰</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">친지, 친구에게 이사통보</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이사당일 유아나 노약자 맡길 곳 알아보기</td>
                                        <td>병원, 친지</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">주택임대차계약 외 인터넷 등기소(www.iros.go.kr)온라인 확정일자</td>
                                        <td>온라인 등기소</td>
                                        <td></td>
                                    </tr>		
                                        
                                    <tr>
                                        <td rowspan="4" colspan="2">이사하기<br/>2주일전</td>
                                        <td align="left">전학수속</td>
                                        <td>학교</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이사할 집의 배치도 구상</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">냉장물품 줄여나가기</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">불필요한 가구/가전 정리 및 폐기물스티커구입</td>
                                        <td>자치센터</td>
                                        <td></td>
                                    </tr>
    
                                    <tr>
                                        <td rowspan="7" colspan="2">이사하기<br/>1주일전</td>
                                        <td align="left">우편물배달 이전 신고</td>
                                        <td>우체국</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">집전화, 인터넷, 유선방송, 위성방송 이전 또는 해지신청</td>
                                        <td>방송, 통신회사</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">은행, 신용카드주소 변경</td>
                                        <td>은행, 카드회사</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">배달중지연락(신문, 잡지, 우유 등)</td>
                                        <td>해당영업소</td>
                                        <td></td>
                                    </tr>		
                                    <tr>
                                        <td align="left">세탁소에 맡긴 세탁물 확인</td>
                                        <td>세탁소</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">엘리베이터 예약(사다리차 미사용시)</td>
                                        <td>관리소</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">어항, 수족관 처리</td>
                                        <td>구입처</td>
                                        <td></td>
                                    </tr>		
    
                                    <tr>
                                        <td rowspan="6" colspan="2">이사하기<br/>2~4일전</td>
                                        <td align="left">냉장고의 음식물처리(이웃과 음식 나누기)</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이사할 집 청소, 파손여부 확인</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이사당일 사용할 물건만 별도 포장</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">현 거주지 주변 편의시설 전화번호 및 집의 참고사항 메모하여 새로 이사 오는 사람에게 전해주기</td>
                                        <td></td>
                                        <td></td>
                                    </tr>		
                                    <tr>
                                        <td align="left">도시가스(가스렌지)분리/설치예약</td>
                                        <td>도시가스업체</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">가전제품 A/S센터연락(전자제품 분리)</td>
                                        <td>업체</td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td rowspan="6" colspan="2">이사전날</td>
                                        <td align="left">냉장고, 세탁기의 물 빼기</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이사당일 식사, 간식 준비</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">고가 귀중품 별도보관 및 위험물 처리</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">가전제품 A/S센터 연락(전자제품 분리)</td>
                                        <td> 업체 </td>
                                        <td></td>
                                    </tr>		
                                    <tr>
                                        <td align="left">입주아파트는 입주증 발급(1일 이전)</td>
                                        <td>아파트관리실</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">쓰레기봉투준비(출발지포장 후 쓰레기정리, 50L 1~2장)</td>
                                        <td></td>
                                        <td></td>
                                    </tr>				
                                    
                                    <tr>
                                        <td rowspan="12">이<br/>사<br/>하<br/>는<br/>날</td>
                                        <td rowspan="6">출발지</td>									
                                        <td align="left">이웃에게 작별인사</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">신변용품 재점검</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">집 안팎의 청소와 점검</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">짐 운반시 입회(이삿짐의 확인)</td>
                                        <td></td>
                                        <td></td>
                                    </tr>		
                                    <tr>
                                        <td align="left">가스, 전기, 수도요금의 검침 및 정산, 마개와 스위치 확인, 아파트 관리비 지불</td>
                                        <td>관리소</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">집의 문단속 및 열쇠 반납</td>
                                        <td></td>
                                        <td></td>
                                    </tr>		
                                    <tr>
                                        <td rowspan="6">도착지</td>
                                        <td align="left">쓰레기봉투준비(도착지 정리 후 쓰레기정리, 50L 1~2장)</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이삿짐 확인 및 정리 정돈 마무리 확인</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">이사요금 정산</td>
                                        <td>이사대행업체</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">전기, 가스, 수도점검(정수기설치)사용량확인(전주인)</td>
                                        <td> 아파트관리실,해당업체 </td>
                                        <td></td>
                                    </tr>		
                                    <tr>
                                        <td align="left">전화개통</td>
                                        <td>전화국</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="left">전학수속, 전입수속(이사 후 14일이내 신고, 전입 신고 시 별도 자동차 등록변경 신고 불요) 및 임대차계약서 확정일자</td>
                                        <td>학교, 자치센터, 등기소</td>
                                        <td></td>
                                    </tr>																																																																											
                                </tbody>
                            </table>			
                        </p>
                    </div>						
    
    </body>			