<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li class="on"><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">이사진행</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}
				</style>
								<div class="con_nav">
					<ul>
						<li ><a href="sub03_02_01">집내놓기</a></li>
						<li ><a href="sub03_02_02">부동산계약서</a></li>
						<li ><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li ><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li ><a href="sub03_02_05">이사업체선정</a></li>
						<li class="on"><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						이사전 준비사항
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						- 이삿짐 분류 및 집안정리<br />
						- 이사할 짐과 버릴짐 분류<br />
						- 재활용품정리<br />
						- 고지서 등 이사주소변경<br />
						- 경비실사전 고지<br />
					</p>
				</div>
				<div id="content-section">
					<div class="division-1">
						이삿날 체크리스트
					</div>	
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						- 귀중품 별도보관 관리<br />
						- 수납을 위한 가구 사전 배치 결정, 이사팀에 고지<br />
						- 특별이삿짐 이사팀장에게 사전고지
					</p>								
				</div>
				<div class="column-6 ta-center" style="margin-top:100px;">
					<p class="square-btn type-1"><a href="/sub02/sub02_02_01">실시간 상세 견적받기</a></p>
				</div>	
				</div>				
			</div>

























			<% include ../include/footer.ejs %> 





    </div>
    
  </body>
</html>



