<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-03">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub03/sub03_01_01">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub03/sub03_02_01">알뜰이사정보</a></h4>
                
                <ul>
                    <li><a href="/sub03/sub03_02_01">집내놓기</a></li>
                    <li><a href="/sub03/sub03_02_02">부동산계약서</a></li>
                    <li><a href="/sub03/sub03_02_03">부동산 중개수수료</a></li>
                    <li><a href="/sub03/sub03_02_04">이삿날/손없는날</a></li>
                    <li class="on"><a href="/sub03/sub03_02_05">이사업체선정</a></li>
                    <li ><a href="/sub03/sub03_02_06">이사진행</a></li>
                    <li ><a href="/sub03/sub03_02_07">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
		




    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사가이드</a><a href="#none">알뜰이사정보</a><a href="#none">이사업체선정</a>
				</p>

				<div id="content-section">
				<style>
				.con_nav {text-align:center; overflow:hidden; color:#fff; margin-bottom:20px; font-size:14px;}
				.con_nav ul li {float:left; background:#bababa; width:14.2857%; line-height:36px; border-right:1px solid #fff; cursor:pointer;}
				.con_nav ul li a {display:block; width:100%; height:100%; color:#fff;}
				.con_nav .on {background:#00a3b4;}
				.con_nav .last {width:calc(14.2857% - 6px); border-right:0;}
				</style>
								<div class="con_nav">
					<ul>
						<li ><a href="sub03_02_01">집내놓기</a></li>
						<li ><a href="sub03_02_02">부동산계약서</a></li>
						<li ><a href="sub03_02_03">부동산 중개수수료</a></li>
						<li ><a href="sub03_02_04">이삿날/손없는날</a></li>
						<li class="on"><a href="sub03_02_05">이사업체선정</a></li>
						<li ><a href="sub03_02_06">이사진행</a></li>
						<li class="last "><a href="sub03_02_07">일정별체크리스트</a></li>
					</ul>
				</div>
				<div id="content-section">
					<div class="division-1">
						이사업체 선정시기 
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
						봄가을 및 주말, 손 없는 날은 이사 수요가 많습니다.<br />
						좋은 날을 잡기 위해서는 1개월 전에 미리 계약하는 것이 안전하며 평일에는 2주 전에 계약하면 좋습니다.<br />
						오투이사는 사전 온라인 계약제로 고객이 좋은날을 편하게 예약할 수 있습니다.
					</p>		
				</div>
				<div id="content-section">
					<div class="division-1">
						이사업체 선정시 주의사항
					</div>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
					1. 관허업체인지 확인<br />
					이사업체 중에 관청에서 허가를 받은 업체인지 확인이 필요합니다.<br />
					이사 후 피해가 발생했을 때 A/S처리에 유리하고 만일의 경우 법적인 도움을 받을 수 있기 때문입니다.
					</p>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
					2. 싸다고 무조건 결정하지 말자<br />
					물론 싸면서 잘하는 업체도 있습니다만 대체적으로 경쟁에서 떨어진다든지 서비스가 떨어지는 업체는 비용이 쌉니다.<br />
					그러나 우선 싸게 불러놓고 후에 옵션가를 추가하는 등 최종적으로 바가지를 쓰는 사례가 발생하곤 합니다.
					</p>	
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
					3. 계약시 주의사항<br />
					차량, 작업자, 옵션, 기타추가사항 등을 계약서에 확실하게 표기해야 합니다.
					</p>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
					4. 견적서를 받아두고 서면계약을 한다.<br />
					견적을 미리 보시고 계약은 나중에 하는데 서명 또는 날인을 안하는 경우가 있습니다.<br />
					그러나 계약서는 문제가 생겼을 경우, 분쟁의 소지를 없애기 위해 반드시 필요하므로 오프라인 계약서는 반드시 챙기시고, 인터넷으로 계약하신 경우 온라인계약서도 인쇄 후 보관하시기 바랍니다.
					</p>
					<p class="fs-14 fc-888" style="margin: 0 0 10px;">
					5. 할인쿠폰 사용여부를 확인한다.<br />
					잘 활용하시면 도움이 됩니다.<br />
					그렇지만, 주의하여야 할 점은 할인쿠폰은 광고지에 불과한 것이 상당히 많습니다.<br />
					그래서 할인쿠폰의 내용을 잘 보시면 주로 35만원이라고 많이 되어있습니다만 실제 계약할 당시 이것 저것해서 가격이 월등히 많아집니다.<br />
					할인쿠폰은 단순한 광고성 할인쿠폰이 많으므로 반드시 해당업체에 대한 정보가 필요하므로 확인하시기 바랍니다.
					</p>																			
				</div>
				<div class="column-6 ta-center" style="margin-top:100px;">
					<p class="square-btn type-1"><a href="/sub02/sub02_02_01">실시간 상세 견적받기</a></p>
				</div>	
				</div>				
			</div>




















			<% include ../include/footer.ejs %> 









    </div>
    
  </body>
</html>



