<div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사가이드</h3>
            <div class="nav-section">
                <h4 ><a href="/sub04/sub04_1_1.asp">계약 및 요금지불</a></h4>
                    
            </div>			
            <div class="nav-section">
                <h4 class="on"><a href="/sub04/sub04_2_1.asp">알뜰이사정보</a></h4>
                
                <ul>
                    <li class="on"><a href="/sub04/sub04_2_1.asp">집내놓기</a></li>
                    <li ><a href="/sub04/sub04_2_2.asp">부동산계약서</a></li>
                    <li ><a href="/sub04/sub04_2_3.asp">부동산 중개수수료</a></li>
                    <li ><a href="/sub04/sub04_2_4.asp">이삿날/손없는날</a></li>
                    <li ><a href="/sub04/sub04_2_5.asp">이사업체선정</a></li>
                    <li ><a href="/sub04/sub04_2_6.asp">이사진행</a></li>
                    <li ><a href="/sub04/sub04_2_7.asp">일정별 체크리스트</a></li>
                </ul>
                    
            </div>

        </div>
