<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-02">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사견적/신청</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub02/sub02_01_01">이사기본요금안내</a></h4>
                
                <ul>
                    <li><a href="/sub02/sub02_01_01">포장이사기본요금</a></li>
                    <li><a href="/sub02/sub02_01_02">보관요금</a></li>
                    <li class="on"><a href="/sub02/sub02_01_03">부가서비스요금</a></li>
                </ul>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub02/sub02_02_01">견적내기 및 신청</a></h4>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub02/sub02_03_01">부가서비스 신청</a></h4>
                    
            </div>
            
        </div>



    

 <!-- leftmenu end -->			
 <div id="inner-wrap">
	<p id="breadcrumb">
		<a href="#none" class="home">HOME</a><a href="#none">이사견적/신청</a><a href="#none">이사기본요금안내</a><a href="#none">보관요금</a>
	</p>

	<div id="content-section">
		<h3>부가서비스란?</h3>
		<p>오투이사는 이삿짐의 포장, 운반, 정리의 순수이사서비스의 전문브랜드입니다. 그러나 순수이사서비스 이외의 에어컨의 설치 & 사다리차이용 & 그랜드 피아노 & 돌침대 & 조립식/외제가구 & 정수기등 전문업체가 필요할때 이용하는 서비스를 부가서비스라고 하며  오투이사에서는 고객의 이사업체선정시 번거로움을 최소화하여 쉬운 이사서비스가 되도록 외주업체를 연결해 드려 "원스톱이사서비스"가 될 수 있도록 도와드립니다.</p>

		<h3>부가서비스 업체의 선정</h3>
		<p>일반적으로 이사고객은 오투이사의 이사서비스에 모든 부가서비스가 포함되어 있다고 인식하므로 오투이사의 명예에 실추가 되지 않도록 하기 위해 협력업체의 서비스품질 기준을 마련하고, 이를충족시키는 업체를 발굴하여 고객과 연결해드리고 있습니다. 그러나 이러한 부가서비스업체의 연결은 고객의 편의를 위한 것으므로 고객이 에어컨설치등 부가서비스 업체를 이미 알고 계신곳이나 다른곳의 소개를 받고 따로 진행하셔도 좋습니다.</p>
		<div class="division-1 mgb-35">
			옵션요금
		</div>
		<table id="table-1" class="column-6 mgb-35">
			<thead>
				<tr>
					<th height="30" class="column-1">구분</th>
					<th class="column-2_5">세부항목</th>
					<th class="column-2_5">기본요금</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="lh-30">피아노</th>
					<td class="lh-30">일반</td>
					<td class="lh-30">50,000</td>
				</tr>
				<tr>
					<th class="lh-30">금고</th>
					<td class="lh-30">중형(가정용)</td>
					<td class="lh-30">50,000</td>
				</tr>
				<tr>
					<th class="lh-30">금고</th>
					<td class="lh-30">소형(가정용)</td>
					<td class="lh-30">20,000</td>
				</tr>
				<tr>
					<th class="lh-30">계층작업비</th>
					<td class="lh-30">1층당(30CBM기준)</td>
					<td class="lh-30">45,000</td>
				</tr>
				<tr>
					<th class="lh-30">양문형냉장고</th>
					<td class="lh-30">문짝분리시(700L이상)</td>
					<td class="lh-30">40,000</td>
				</tr>
				<tr>
					<th class="lh-30">대리석상판</th>
					<td class="lh-30">일반</td>
					<td class="lh-30">40,000</td>
				</tr>
				<tr>
					<th class="lh-30">로프작업비</th>
					<td class="lh-30">장농한짝 기준</td>
					<td class="lh-30">15,000</td>
				</tr>
				<tr>
					<th class="lh-30">이송거리</th>
					<td class="lh-30">거리 10m 초과당(엘리베이터 이용포함)</td>
					<td class="lh-30">30,000</td>
				</tr>
				<tr>
					<th class="lh-30">조립가구</th>
					<td class="lh-30">완전분해조립</td>
					<td class="lh-30">100,000 ~ 150,000</td>
				</tr>
				<tr>
					<th class="lh-30">수납</th>
					<td class="lh-30">시스템행거</td>
					<td class="lh-30">100,000 ~ 150,000</td>
				</tr>
				<tr>
					<th class="lh-30">대기료</th>
					<td colspan="2" class="lh-30">이사보관계약서 뒷면 주요약관 제15조 1항에 따른 지체 시간 수 * 계약금의 반액</td>
				</tr>
			</tbody>
		</table>
		<div class="division-1 mgb-35">
			전문 외주옵션
		</div>
		<table id="table-1" class="column-6 mgb-35">
			<thead>
				<tr>
					<th height="30" class="column-1">구분</th>
					<th class="column-2_5">세부항목</th>
					<th class="column-2_5">기본요금</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="lh-30">피아노</th>
					<td class="lh-30">그랜드</td>
					<td class="lh-30">문의</td>
				</tr>
				<tr>
					<th rowspan="2" class="lh-30">조립가구</th>
					<td class="lh-30">수입조립장(앤틱가구포함)</td>
					<td class="lh-30">문의</td>
				</tr>
				<tr>
					<td class="lh-30">붙박이장</td>
					<td class="lh-30">문의</td>
				</tr>
				<tr>
					<th rowspan="2" class="lh-30">LCD,LED,PDP TV</th>
					<td class="lh-30">50" 이사 운반</td>
					<td class="lh-30">40,000</td>
				</tr>
				<tr>
					<td class="lh-30">벽걸이 탈/부착</td>
					<td class="lh-30">문의</td>
				</tr>
				<tr>
					<th rowspan="2" class="lh-30">돌침대</th>
					<td class="lh-30">싱글</td>
					<td class="lh-30">40,000</td>
				</tr>
				<tr>
					<td class="lh-30">더블</td>
					<td class="lh-30">80,000</td>
				</tr>
				<tr>
					<th class="lh-30">정수기</th>
					<td class="lh-30">설치</td>
					<td class="lh-30">문의</td>
				</tr>
				<tr>
					<th class="lh-30">샹들리에</th>
					<td class="lh-30">탈/부착</td>
					<td class="lh-30">문의</td>
				</tr>
			</tbody>
		</table>
		<div class="division-1 mgb-35">
			사다리차 요금표 <span class="fs-13 fw-400 fc-999">※ 30CBM기준, 30CBM초과시 초과 10CBM당 10,000~20,000원 추가 </span>
		</div>
		<table id="table-1" class="column-6 mgb-15">
			<thead>
				<tr>
					<th height="30" class="column-1">구분</th>
					<th class="column-2_5">가격</th>
					<th class="column-2_5">비고</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="lh-30">2층 ~ 6층</th>
					<td class="lh-30">90,000원</td>
					<td rowspan="16" class="lh-30">서울경기지역</td>
				</tr>
				<tr>
					<th class="lh-30">7층 ~ 8층</th>
					<td class="lh-30">100,000원</td>
				</tr>
				<tr>
					<th class="lh-30">9층 ~ 10층</th>
					<td class="lh-30">110,000원</td>
				</tr>
				<tr>
					<th class="lh-30">11층 ~ 12층</th>
					<td class="lh-30">120,000원</td>
				</tr>
				<tr>
					<th class="lh-30">13층 ~ 14층</th>
					<td class="lh-30">130,000원</td>
				</tr>
				<tr>
					<th class="lh-30">15층</th>
					<td class="lh-30">140,000원</td>
				</tr>
				<tr>
					<th class="lh-30">16층</th>
					<td class="lh-30">150,000원</td>
				</tr>
				<tr>
					<th class="lh-30">17층</th>
					<td class="lh-30">160,000원</td>
				</tr>
				<tr>
					<th class="lh-30">18층</th>
					<td class="lh-30">170,000원</td>
				</tr>
				<tr>
					<th class="lh-30">19층</th>
					<td class="lh-30">180,000원</td>
				</tr>
				<tr>
					<th class="lh-30">20층</th>
					<td class="lh-30">200,000원</td>
				</tr>
				<tr>
					<th class="lh-30">21층</th>
					<td class="lh-30">230,000원</td>
				</tr>
				<tr>
					<th class="lh-30">22층</th>
					<td class="lh-30">260,000원</td>
				</tr>
				<tr>
					<th class="lh-30">23층</th>
					<td class="lh-30">290,000원</td>
				</tr>
				<tr>
					<th class="lh-30">24층</th>
					<td class="lh-30">320,000원</td>
				</tr>
				<tr>
					<th class="lh-30">25층</th>
					<td class="lh-30">370,000원</td>
				</tr>
			</tbody>
		</table>
		<!--table id="table-1" class="column-6 mgb-15">
			<thead>
				<tr>
					<th height="30" class="column-1">구분</th>
					<th class="column-2_5">가격</th>
					<th class="column-2_5">비고</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="lh-30">2층 ~ 5층</th>
					<td class="lh-30">100,000원</td>
					<td rowspan="16" class="lh-30">서울경기지역</td>
				</tr>
				<tr>
					<th class="lh-30">6층 ~ 7층</th>
					<td class="lh-30">110,000원</td>
				</tr>
				<tr>
					<th class="lh-30">8층 ~ 9층</th>
					<td class="lh-30">120,000원</td>
				</tr>
				<tr>
					<th class="lh-30">10층 ~ 11층</th>
					<td class="lh-30">130,000원</td>
				</tr>
				<tr>
					<th class="lh-30">12층 ~ 13층</th>
					<td class="lh-30">140,000원</td>
				</tr>
				<tr>
					<th class="lh-30">14층</th>
					<td class="lh-30">150,000원</td>
				</tr>
				<tr>
					<th class="lh-30">15층</th>
					<td class="lh-30">160,000원</td>
				</tr>
				<tr>
					<th class="lh-30">16층</th>
					<td class="lh-30">170,000원</td>
				</tr>
				<tr>
					<th class="lh-30">17층</th>
					<td class="lh-30">180,000원</td>
				</tr>
				<tr>
					<th class="lh-30">18층</th>
					<td class="lh-30">190,000원</td>
				</tr>
				<tr>
					<th class="lh-30">19층</th>
					<td class="lh-30">200,000원</td>
				</tr>
				<tr>
					<th class="lh-30">20층</th>
					<td class="lh-30">230,000원</td>
				</tr>
				<tr>
					<th class="lh-30">21층</th>
					<td class="lh-30">260,000원</td>
				</tr>
				<tr>
					<th class="lh-30">22층</th>
					<td class="lh-30">290,000원</td>
				</tr>
				<tr>
					<th class="lh-30">23층</th>
					<td class="lh-30">320,000원</td>
				</tr>
				<tr>
					<th class="lh-30">24층</th>
					<td class="lh-30">370,000원</td>
				</tr>
				<tr>
					<th class="lh-30">25층</th>
					<td class="lh-30">협의</td>
				</tr>
			</tbody>
		</table-->					
		<p class="mg-0 fs-12 fc-777">· 1.사다리차 요금은 지역별로 차이가 발생할 수 있습니다.</p>
		<p class="mg-0 fs-12 fc-777">· 2.사다리차 요금은 이사요금 외 옵션비용이므로 사다리차 비용에 대한 현금영수증은 사다리차 사업자에게 직접 요청해야 합니다.</p>

		<div class="column-6 mgb-35" style="height: 1px; min-height: 1px; background: #d8d8d8;"></div>
		<div class="column-6 ta-center">
			<p class="square-btn type-1"><a href="/sub02/sub02_02_01">실시간 견적받기</a></p>
		</div>
	</div>				
	
</div>














<% include ../include/footer.ejs %> 



    </div>
    
  </body>
</html>



