<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_01_01">직거래이사서비스</a></li>
                    <li><a href="/sub01/sub01_01_02">이사·화물품질정책</a></li>						
                    <li><a href="/sub01/sub01_01_03">차량구비 시스템</a></li>
                    <li><a href="/sub01/sub01_01_04">포장박스안내</a></li>
                    <li class="on"><a href="/sub01/sub01_01_05">서비스리콜 센터운영</a></li>
                    <li ><a href="/sub01/sub01_01_06">이사·화물 진행절차</a></li>
                </ul>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>

        </div>

    

      <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">서비스리콜 센터운영</a>
				</p>

				<div id="title-section">
					<h1><span class="fc-turquoise">고객 A/S리콜제</span> 및 <span class="fc-turquoise">고객칭찬제도 </span></h1>
					<p>고객께 최상의 서비스 제공을 위해 오투이사·화물시스템은 전국60개 지역지사장 책임제로 운영되고<br />있으며 국내최초로 현장서비스를 지사장이 책임지고 이행하는 전담제를 시행하고 있습니다.</p>
				</div>
				<div id="content-section">
					<h3>고객칭찬제</h3>
					<p>오투이사·화물서비스를 이용한 고객을 대상으로 사후 온라인 인터넷을 통한 고객칭찬 릴레이를 운영하고 있으며 고객만족이 높은 소사장의 배차 기회를 늘리는 구조로 보다 진보된 서비스를 위해 노력하고 있습니다.</p>
					<h3>고객A/S 리콜제</h3>
					<p>오투이사·화물서비스를 이용한 고객의 완벽한 A/S를 위해 사소한 불만족이라도 재발하지 않도록 A/S리콜제를 운영 고객께 보상조치하는 제도를 운영하고 있습니다.</p>
					<h3>소사장 칭찬릴레이</h3>
					<p>고객께서 온라인을 접속하여 오투이사·화물서비스에 대한 사후소감을 적극적으로 올려 주실것을 부탁드립니다. 이는 소사장을 대표로한 이사·화물팀에 대한 칭찬릴레이로 서비스확산을 가져옵니다.</p>
					<h3>불만족 평가제도</h3>
					<p>이사·화물서비스중 불만족하거나 개선해야될 사항이 있으면 온라인 게시판을 통한 사후 리콜제를 활용하십시오. 해당 소사장을 대상으로 재발방지 집중교육을 통해 서비스를 개선하고 고객께 사후보상을 실시합니다.</p>
					<h3>고객참여 의의</h3>
					<p>오투이사·화물서비스를 이용한 고객여려분의 적극적인 서비스평가는 매월 온라인 게시판을 통해 공개되며 평가제를 통해 우수서비스 소사장에 대한 포상으로 고객께 사랑받는 이사·화물서비스 브랜드로 성장할 수 있는 계기가 됩니다.</p>
					<!-- <div class="division-1 mgb-35">
						고객평가제도 특징
					</div>
					<ul class="column-6 ta-center fc-888">
						<li class="fl column-2">
							<p class="mgb-15"><img src="/images/service_04.png" /></p>
							<p class="fs-14 fw-500 fc-555 mg-0">우리팀을 칭찬해주세요</p>
							<p class="fs-12 lh-20">고객의 칭찬글을 통해 해당 이사팀은 자신의 <br />일에 대한 의욕과 자부심을 갖게 되며, <br />좋은 서비스로 명품팀으로 발전하는 <br />계기가 됩니다. 이사 후 만족하셨다면 <br />아낌없는 칭찬을 주시기 바랍니다.</p>
						</li>
						<li class="fl column-2">
							<p class="mgb-15"><img src="/images/service_11.png" /></p>
							<p class="fs-14 fw-500 fc-555 mg-0">우리팀을 꾸중해주세요</p>
							<p class="fs-12 lh-20">이사시 불친절, A/S 처리소홀 등 여러가지 <br />요인이 발생하셨다면 꾸중하기를 작성하실 <br />수 있습니다. 불만들이 작성된 팀은 여러가지 <br />제재와 함께 집중 서비스 교육을 실시하여 <br />품질저하를 방지하겠습니다.</p>
						</li>
						<li class="fl column-2">
							<p class="mgb-15"><img src="/images/service_07.png" /></p>
							<p class="fs-14 fw-500 fc-555 mg-0">고객평가의 의의</p>
							<p class="fs-12 lh-20">매월 인터넷 평가를 포함한 기타 평가 등 우수팀 <br />선정기준을 가지고 우수팀에게는 시상 등 여러가지 <br />이득이 될 수 있는 혜택을 주어 오투이사의 <br />모든 팀이 고객으로부터 사랑받는 좋은 <br />품질을 가진 팀으로 만들어 갑니다.</p>
						</li>
					</ul> -->
				</div>
				
			</div>





			<% include ../include/footer.ejs %> 


    </div>
    
  </body>
</html>



