<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_01_01">직거래이사서비스</a></li>
                    <li><a href="/sub01/sub01_01_02">이사·화물품질정책</a></li>						
                    <li class="on" ><a href="/sub01/sub01_01_03">차량구비 시스템</a></li>
                    <li ><a href="/sub01/sub01_01_04">포장박스안내</a></li>
                    <li ><a href="/sub01/sub01_01_05">서비스리콜 센터운영</a></li>
                    <li ><a href="/sub01/sub01_01_06">이사·화물 진행절차</a></li>
                </ul>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>

        </div>

    

      <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">차량구비 시스템</a>
				</p>
				<div id="title-section">
					<h1>이사·화물량에 따른 최적의 배자정책으로 <br /><span class="fc-turquoise">1~10톤 화물전문차량까지</span> 다양한 배차시스템<br/>고객선택의 폭이 넓습니다.</h1>
					<p>작업량 및 도로환경에 따라 맞춤차량을 배정 고객이 선택폭이 넓어 안전하게 이사·화물서비스를 받으실 수 있습니다.</p>
				</div>
				<div id="content-section">
					<h3>작업환경 고려 배차선택</h3>
					<p>골목길, 노선, 장·단거리등을 고려한 전문배차시스템으로 최적의 운송환경과 운송비를 절감시켜 드립니다.</p>
					<h3>적재노하우 전문프로요원 배차</h3>
					<p>운송량에 따른 최적의 적재 전문요원 배차참여로 안전한 수송과 최적성 운송실현</p>
					<h3>소사장 직접소유로 안심운행</h3>
					<p>차주가 직접운행하여 안전사고 및 보험등 고객의 안전을 우선합니다.</p>
					<div class="division-1">
						차량 소개
					</div>
					<div class="column-6">
            <p class="column-6 mg-0 ta-center"><img src="/images/truck1.jpg" /></p>
            <p class="column-6 mg-0 ta-center"><img src="/images/truck5.jpg" /></p>
            <p class="column-6 mg-0 ta-center"><img src="/images/truck10.jpg" /></p>
						<!-- <div class="fl column-2_5 ta-center">
							<p class="fs-14 fc-333 fw-500">오투이사 1톤 탑차<br /><span class="fs-13 fc-777 fw-400">(장)3.11 x (폭)1.60 x (고)2.20 x 3대 = </span><span class="fc-orange fw-400">33CBM</span></p>
						</div>
						<div class="fl column-1">
						</div>
						<div class="fl column-2_5 ta-center">
							<p class="fs-14 fc-333 fw-500">오투이사 5톤 탑차<br /><span class="fs-13 fc-777 fw-400">(장)6.15 x (폭)2.20 x (고)2.45 x 1대 = </span><span class="fc-orange fw-400">33CBM</span></p>
						</div> -->
					</div>
				</div>
				
			</div>





      <% include ../include/footer.ejs %> 

    </div>
    
  </body>
</html>



