<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
      <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_01_01">직거래이사서비스</a></li>
                    <li><a href="/sub01/sub01_01_02">이사·화물품질정책</a></li>						
                    <li><a href="/sub01/sub01_01_03">차량구비 시스템</a></li>
                    <li class="on"><a href="/sub01/sub01_01_04">포장박스안내</a></li>
                    <li ><a href="/sub01/sub01_01_05">서비스리콜 센터운영</a></li>
                    <li ><a href="/sub01/sub01_01_06">이사·화물 진행절차</a></li>
                </ul>
                
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>

        </div>

    

      <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">오투이사 서비스소개</a><a href="#none">포장박스안내</a>
				</p>
				<div id="title-section">
					<h1><span class="fc-turquoise">작은 부분</span>에서도 고객을 위한 <br /><span class="fc-turquoise">충분한 배려</span>를 드리겠습니다.</h1>
					<p>다양한 포장박스를 준비하여 외부의 간섭과 충격으로부터 내용물을 보호할 수 있으며, <br />이삿짐의 용도별로 박스를 구분하여 위색적이고 기분좋은 이사서비스를 제공하고 있습니다.</p>
				</div>
				<div id="content-section">
					<h3>고객배려 맞춤용 포장박스</h3>
					<p>귀중품용 소형박스부터 의류용박스 주방용품박스등 용도별 다양한 박스를 색깔별로 구비하여 고객용품을 최대한 보호하고 잇습니다</p>
					<h3>5가지 포장 이사박스</h3>
					<p>포장이사 전용박스는 단프라로서 물품성격과 중량에따른 적합한 박스를 고객용품에 맞게 포장하여 이사해 드리므로 이사시 발생할 수 있는 파손으로부터 고객의 소중한 이삿짐을 보호 할 수 있습니다, 특히 청소용품, 화장실용품이 주방식기류와 섞이지 않도록 박스색깔을 구분 하여 사용하고 긴의류 및 고가의류의 경우 옺걸이용박스전용으로 구김을 방지합니다.</p>
					<div class="division-1 mgb-35">
						5가지 포장박스 종류 안내
					</div>
					<div class="fl column-3">
						<div class="column-4_5 bg-e6eaef radius-10 pd-16 fs-13 lh-28">
							<ul class="fl column-6 pdl-10 fw-500 fc-666">
								<li>귀중품 박스</li>
								<li>의류용전용 박스</li>
								<li>신발전용 박스</li>
								<li>주방용품 박스</li>
								<li>다용도 박스</li>
							</ul>
							<!-- <ul class="fl column-3 fc-777">
								<li>분홍색 박스</li>
								<li>검정색 박스</li>
								<li>바구니 및 아이스 박스</li>
								<li>옥색 박스 + 옷걸이</li>
								<li>대 : 부피가 큰 내영물 <br />중 : 일반적인 내용물 <br />소 : 무게가 무거운 책 등</li>
							</ul> -->
						</div>
					</div>
					<div class="fl column-3 ta-left">
						<!-- <img src="/images/box_type.jpg" /> -->
					</div>
				</div>
				
			</div>




			<% include ../include/footer.ejs %> 


    </div>
    
  </body>
</html>



