<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-01">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
      <div id="content" style="background-image: url(/images/bg/move01.png);background-repeat: no-repeat;background-position: top right;">
        <!-- leftmenu start -->
                    <div id="side-nav">
    
            <h3 class="title">이사서비스</h3>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_01_01">오투이사 서비스소개</a></h4>
                
            </div>
            <div class="nav-section">
                <h4 class="on"><a href="/sub01/sub01_02_01">이사서비스</a></h4>
                
                <ul>
                    <li><a href="/sub01/sub01_02_01">포장이사</a></li>
                    <li><a href="/sub01/sub01_02_02">보관이사</a></li>
                    <li class="on"><a href="/sub01/sub01_02_03">사무실이사</a></li>
                    <li><a href="/sub01/sub01_02_04">해외이사</a></li>
                </ul>		
                            
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub01/sub01_03_01">부가서비스</a></h4>
                            
            </div>
    
        </div>

    

     <!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">이사서비스</a><a href="#none">이사서비스</a><a href="#none">사무실이사</a>
				</p>

				<div id="title-section">
					<h1>업무연장을 위한 빠른 사무실이사<br /><span class="fc-turquoise">오투이사 코디네이터</span>를 이용하세요.</h1>
					<p>사무실 이사의 가장 중요한 부분은 업무에 지장이 없이 빠르고 안전하게 이전이 실현되야 합니다. <br />사무실 이사로 인해 회사의 업무에 지장을 주지 않는 노하우가 있는 전문 이사업체 오투이사와 함께하세요.</p>
				</div>
				<div id="content-section">
					<h3>사무실 이사</h3>
					<p>기업 및 사무실이사의 핵심은 업무연장이 될 수 있도록 빠른 시간내에 이전이 완료되어야 합니다. 사무실이나 기업이사의 이전계획부터, 포장, 운반, 정리까지 원스톱으로 처리하는 전문시스템, 오투 사무실이사 코디네이터를 활용하십시오. 오투 사무실 이사 코디네이터가 기업담당의 입장에서 하나에서 열까지 치밀하게 준비하고 담당자를 통한 수시보고와 함께 이사후 배치까지 책임지고 만전을 기합니다.</p>
					<h3>이사계획안 수립 공유협의</h3>
					<p>회사의 담당과 함께 이사 일정계획 및 물량조사, 예산 및 견적제출과 이사일정수립 등을 공유·수집하는 전문 코디네이터를 지원하여 이사 전과정을 보다 안전하고 편리하게 수행해드립니다.</p>
					<h3>이전계획 및 시나리오 사전제출</h3>
					<p>견적의뢰, 예산책정, 이사진행 일정제안, 작업 사전브리핑, 포장매뉴얼, 포장작업, 운반수송, 검수와 배치 등 전과정에대한 시나리오 계획안을 사전에 회사에 제출, 협의하고 사무실이사 전문팀을 활용한 효율적 이사관리로 안전한 이전이 실현됩니다.</p>
					<h3>포장이사 및 안전이사</h3>
					<p>견적의뢰, 예산책정, 이사진행 일정제안, 작업 사전브리핑, 포장매뉴얼, 포장작업, 운반수송, 검수와 배치 등 전과정에대한 시나리오 계획안을 사전에 회사에 제출, 협의하여 효율적이며 안전한 이전을 하실 수 있습니다.</p>
					<!-- <div class="division-1 mgb-35">
						기업/사무실이전 주요실적 : KGB기업이전팀
					</div>
					<table id="table-1" class="column-6 mgb-35">
						<thead>
							<tr>
								<th height="30" class="column-1">구분</th>
								<th class="column-5">최근 1년간 주요 실적</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="lh-30">사옥 이전</td>
								<td class="pdlr-20 lh-30 ta-left">삼성전자, 롯데캐논, 롯데쇼핑, 인천정유, 프라임산업, 롯데칠성, 레미트화장품, 신세계, 신세계 건설, 몬테소리, 세원이엔티, 벅스뮤직, 강희숙부띠끄, 프라임산업, 쌍용이엔지, 바코코리아, 한국전기공사협회, 터보테크,시스템베이스, 아시아나항공, 삼성물산, 롯데건설</td>
							</tr>
							<tr>
								<th class="lh-30">관공서 이전</td>
								<td class="pdlr-20 lh-30 ta-left">지하철공사, 교통안전공단서울지사, 한국능력진흥원, 성북구청, 한국문화예술진흥원, 의료보험공단, 경기축산위생연구소, 환경관리공단</td>
							</tr>
							<tr>
								<th class="lh-30">연구소 이전</td>
								<td class="pdlr-20 lh-30 ta-left">한국오므론전장, 대한건설연구소, 우진물산연구소. 에드라닷컴연구소 , 경남제약, 녹십자중앙연구소, 서울대플라즈마연구실, 리젠바이오텍, 미래정보통신연구소</td>
							</tr>
							<tr>
								<th class="lh-30">금융계 이전</td>
								<td class="pdlr-20 lh-30 ta-left">중소기업은행, 신용보증기금, 국민은행, 농협, 우리은행, 현대해상화재 , 엘지화재보험, 알리안츠생명보험, 삼성카드, 아이엔지생명</td>
							</tr>
							<tr>
								<th class="lh-30">대학교 이전</td>
								<td class="pdlr-20 lh-30 ta-left">한양대 의과대학, 한양대 정보통신원, 숙명여대 박물관, 숙명여대도서관, 숙명여대 과학대학, 이화여대 의과대학, 한국항공대학교도서관</td>
							</tr>
							<tr>
								<th class="lh-30">주요거래처</td>
								<td class="pdlr-20 lh-30 ta-left">기업은행, 알리안츠생명보험, 삼성전자, 한양대학교, 한국항공대학교, 숙명여자대학교, 레미트화장품, 한불화장품, 도레이새한, 롯데쇼핑, 제일화재해상보험, 신용보증기금, 신세계 본사, 신세계 본점, 신세계건설, 녹십자, 녹십자이엠, 태일정보통신,이화여자대학교</td>
							</tr>
						</tbody>
					</table> -->
					<div class="column-6 mgb-35" style="height: 1px; min-height: 1px; background: #d8d8d8;"></div>
					<div class="column-6 ta-center">
						<p class="square-btn type-1"><a href="/sub02/sub02_02_03">실시간 상세 견적받기</a></p>
					</div>
				</div>
				
			</div>








			<% include ../include/footer.ejs %> 



    </div>
    
  </body>
</html>



